{% extends "diversity/base.html" %}

{% block title %}Django Community Diversity Statement - Changes{% endblock %}

{% block content %}
<h1>Django Community Diversity Statement - Changes</h1>

<h2>Change control process</h2>

<p>We're (mostly) programmers, so we'll track changes to the diversity statement
the same way we track changes to code. All changes will proposed via a pull request
to the
<a href="https://github.com/django/djangoproject.com">djangoproject.com repository
on GitHub</a>. Changes will be reviewed by the membership first, and then
sent to the DSF, the Django core team, and the Django community for comment.
We'll hold a comment period of at least one week,  and then each group will vote
on the change using its normal process (a board for the DSF,
<a href="{% url 'document-detail' lang='en' version='dev' url='internals/contributing/bugs-and-features' host 'docs' %}#how-we-make-decisions">
a core dev vote</a> for the core team).
Approved changes will be merged, published, and noted below.</p>

<p>This only applies to material changes; changes that don't effect the intent
(typo fixes, re-wordings, etc.) can be made immediately.</p>

<p>A complete list of changes can always be found
<a href="https://github.com/django/djangoproject.com/commits/master/djangoproject/templates/diversity">on GitHub</a>;
major changes and releases are summarized below.</p>

<h2>Changelog</h2>

<dl>
  <dt>Jun 16, 2015</dt>
  <dd><a href="https://github.com/django/djangoproject.com/commit/da5f784cf737c6d74c1233c3db3442732fd87d6d">
  Initial release</a>.</dd>

</dl>

{% endblock %}
