{% extends "base_community.html" %}
{% load i18n %}

{% block header %}
  <p>{% translate "Code of Conduct" %}</p>
{% endblock %}

{% block content-related %}
  <div role="complementary">
    <h2 id="aside-header">{% translate "Django Community Code of Conduct" %}</h2>

    <ul class="list-links">
      <li><a href="{% url 'code_of_conduct' %}">{% translate "Code of Conduct" %}</a></li>
      <li><a href="{% url 'members:teams' %}#code-of-conduct-team">{% translate "Code of Conduct working group" %}</a></li>
      <li><a href="{% url 'conduct_faq' %}">{% translate "Frequently Asked Questions" %}</a></li>
      <li><a href="{% url 'conduct_reporting' %}">{% translate "Reporting Guide" %}</a></li>
      <li><a href="https://github.com/django/code-of-conduct/blob/main/working-group-manual.md">{% translate "Enforcement Manual" %}</a></li>
      <li><a href="{% url 'conduct_changes' %}">{% translate "Changes" %}</a></li>
    </ul>

    <h3>{% translate "License" %}</h3>
    <p>
      {% blocktranslate trimmed %}
        All content on this page is licensed under a
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
          Attribution-ShareAlike </a> license.
      {% endblocktranslate %}
    </p>
    <p>
      <a href="https://creativecommons.org/licenses/by-sa/4.0/">
        <img src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" height="31" width="88" alt="CC-by-sa">
      </a>
    </p>

    <h3>{% translate "Sources" %}</h3>
    <p>
      {% blocktranslate trimmed %}
        Our documents and policies are adapted from and inspired by 
        <a href="https://github.com/django/code-of-conduct/blob/main/sources.md">a 
        number of sources</a>.
      {% endblocktranslate %}
    </p>
  </div>
{% endblock %}

{% block title %}{% translate "Django Code of Conduct" %}{% endblock %}
