{% extends "conduct/base.html" %}

{% block title %}Django Code of Conduct - Changes{% endblock %}

{% block content %}
<h1>Django Code of Conduct - Changes</h1>

<h2>Change control process</h2>

<p>We're (mostly) programmers, so we'll track changes to the code of conduct and
associated documents the same way we track changes to code. All changes will
proposed via a pull request to the
<a href="https://github.com/django/djangoproject.com">djangoproject.com repository
on GitHub</a>. Changes will be reviewed by the conduct committee first, and then
sent to the DSF, the Django core team, and the Django community for comment.
We'll hold a comment period of at least one week,  and then each group will vote
on the change using its normal process (a board for the DSF,
<a href="{% url 'document-detail' lang='en' version='dev' url='internals/contributing/bugs-and-features' host 'docs' %}#how-we-make-decisions">
a core dev vote</a> for the core team).
Approved changes will be merged, published, and noted below.</p>

<p>This only applies to material changes; changes that don't effect the intent
(typo fixes, re-wordings, etc.) can be made immediately.</p>

<p>A complete list of changes can always be found
<a href="https://github.com/django/djangoproject.com/commits/master/templates/conduct">on GitHub</a>;
major changes and releases are summarized below.</p>

<h2>Changelog</h2>

<dl>
  <dt>October 3, 2014</dt>
  <dd><a href="https://github.com/django/djangoproject.com/commit/577a02bbe968de79f8e111d6139f0c1299e994e9">
  Revised text</a> to clarify that behavior outside the community is a contributing factor to involvement in the Django community; and explicitly provided a non-exhaustive list of diversity groups we consider included under the policy.</dd>

  <dt>July 31, 2013</dt>
  <dd>Documents approved and officially published.</dd>

  <dt>July 15, 2013</dt>
  <dd><a href="https://github.com/django/djangoproject.com/commit/ae21fb5cb1f7edfca5b5556d92fb86186d92aeb3">
  Added the reporting guide and enforcement manual</a>. Final draft presented
  to the board and core membership for vote.</dd>

  <dt>April 1, 2013</dt>
  <dd><a href="https://github.com/django/djangoproject.com/commit/1a0aae11a331bfbf36d6f4091d77413b780454e5">
  Initial "beta" release and public call for comments</a>.</dd>

</dl>

{% endblock %}
