{% extends "conduct/base.html" %}
{% load i18n %}

{% block title %}{% translate "Django Code of Conduct - Enforcement Manual" %}{% endblock %}

{% block og_title %}{% translate "Django Code of Conduct - Enforcement Manual" %}{% endblock %}
{% block og_description %}{% translate "This is the enforcement manual followed by Django's Code of Conduct working group" %}{% endblock %}

{% block content %}
  <h1>{% translate "Django Code of Conduct - Enforcement Manual" %}</h1>

  <h2 class="deck">
    {% blocktranslate trimmed %}
      This manual has moved to <a href="https://github.com/django/code-of-conduct/blob/main/working-group-manual.md">
        GitHub</a>. Please see the latest version there.{% endblocktranslate %}
  </h2>
{% endblock %}
