{% extends "conduct/base.html" %}

{% block title %}Django Code of Conduct - FAQ{% endblock %}

{% block content %}
<h1>Django Code of Conduct - FAQ</h1>

<h2 class="deck">
This FAQ attempts to address common questions and concerns around the Django
community's <a href="{% url 'code_of_conduct' %}">Code of Conduct</a>. If you still have
questions after reading it, please feel free to
<a href="mailto:conduct@djangoproject.com">contact us</a>.
</h2>

<h3 id="why-adopt">Why have you adopted a Code of Conduct? <a class="plink" href="#why-adopt">¶</a></h3>

    <p>We think the Django community is awesome. If you're familiar with the Django
    community, you'll probably notice that the Code basically matches what
    we already do. Think of this as documentation: we're taking implicit
    expectations about behavior and making them explicit.</p>

    <p>We're doing this because the Django community is growing faster than any of
    us could have anticipated. This is on balance a very positive thing, but
    as we've grown past the point where it's possible to know the whole community
    we think it's very important to be clear about our values.</p>

    <p>We know that the Django community is open, friendly, and welcoming. We want to
    make sure everyone else knows it too.</p>

<h3 id="what-does-it-mean">What does it mean to "adopt" a Code of Conduct? <a class="plink" href="#what-does-it-mean">¶</a></h3>

    <p>For the most part, we don't think it means large changes. We think that the text
    does a really good job describing the way the Django community already conducts
    itself. We expect that most people will simply continue to behave in the
    awesome way they have for years.</p>

    <p>However, we do expect that people will abide by the spirit and words of the CoC
    when in "official" Django spaces. This code has been adopted by both the Django core
    team and by the Django Software Foundation. That means that it'll apply both in community
    spaces <em>and</em> at DSF events.</p>

    <p>In practice, this means mailing lists (django-users, django-developers, etc.),
    the various Django IRC channels (<tt>#django</tt>, <tt>#django-dev</tt>, etc.), bug
    tracking and code review tools, and "official" Django events such as sprints.
    In addition, violations of this code outside these spaces may affect a person's
    ability to participate within them.</p>

<h3 id="dsf-events">What about events funded by the Django Software Foundation? <a class="plink" href="#dsf-events">¶</a></h3>

    <p>This Code of Conduct also covers any events that the DSF funds. However, events
    funded by the DSF already
    <a class="plink" href="{% url 'code_of_conduct' %}">require a code of conduct</a>.
    Isn't this redundant?</p>

    <p>No: there's a difference between the two, and they're complementary.</p>

    <p>This Code of Conduct is all about how we interact as a community. It's about
    saying that the Django community will be open, friendly, and welcoming.
    The core issue is about ensuring the conversations we have are productive
    and inviting for all.</p>

    <p>Real-life events, however, require a bit more care. The DSF wants to be sure
    that any events it funds have policies and procedures in place for handling
    harassment. It's especially important to us that real-life events take steps to
    protect the physical and mental security of their participants.</p>

    <p>So the DSF will require that any events it funds have some sort of anti-
    harassment policy in place. The DSF thinks the
    <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">Ada Initiative's template</a>
    is pretty good, but we're open to alternatives.</p>

<h3 id="violations">What happens if someone violates the Code of Conduct? <a class="plink" href="#violations">¶</a></h3>

    <p>Our intent is that anyone in the community can stand up for this code,
    and direct people who're unaware to this document. If that doesn't work,
    or if you need more help, you can contact
    <a href="mailto:conduct@djangoproject.com">conduct@djangoproject.com</a>.
    For more details please see our
    <a href="{% url 'conduct_reporting' %}">Reporting Guidelines</a></p>

<h3 id="why-do-we-need">Why do we need a Code of Conduct? Everyone knows not to be a jerk. <a class="plink" href="#why-do-we-need">¶</a></h3>

    <p>Sadly, not everyone knows this.</p>

    <p>However, even if everyone was kind, everyone was compassionate, and everyone was
    familiar with codes of conduct it would still be incumbent upon our community to
    publish our own. Maintaining a code of conduct forces us to consider and
    articulate what kind of community we want to be, and serves as a constant
    reminder to put our best foot forward. But most importantly, it serves as a
    signpost to people looking to join our community that we feel these values are
    important.</p>

<h3 id="free-speech">This is censorship! I have the right to say whatever I want! <a class="plink" href="#free-speech">¶</a></h3>

    <p>You do -- in <em>your</em> space. If you'd like to hang out in <em>our</em> spaces (as
    clarified above), we have some simple guidelines to follow. If you want to, for
    example, form a group where Django is discussed using language inappropriate for
    general channels then nobody's stopping you. We respect your right to establish
    whatever codes of conduct you want in the spaces that belong to you. Please
    honor this Code of Conduct in our spaces.</p>

{% endblock %}

{% block head_extra %}
  {{ block.super }}
  <style type="text/css">
    h3 a.plink { display: none; }
    h3:hover a.plink { display: inline; }
  </style>
{% endblock head_extra %}
