{% extends "conduct/base.html" %}

{% block title %}Django Code of Conduct{% endblock %}

{% block content %}

<h1>Django Code of Conduct</h1>

<p>Like the technical community as a whole, the Django team and community is made up
of a mixture of professionals and volunteers from all over the world, working on
every aspect of the mission - including mentorship, teaching, and connecting
people.</p>

<p>Diversity is one of our huge strengths, but it can also lead to communication
issues and unhappiness. To that end, we have a few ground rules that we ask
people to adhere to. This code applies equally to founders, mentors and those
seeking help and guidance.</p>

<p>This isn’t an exhaustive list of things that you can’t do. Rather, take it in
the spirit in which it’s intended - a guide to make it easier to enrich all of
us and the technical communities in which we participate.</p>

<p>This code of conduct applies to all spaces managed by the Django project or
Django Software Foundation. This includes IRC, the mailing lists, the issue
tracker, DSF events, and any other forums created by the project team
which the community uses for communication. In addition, violations of this code
outside these spaces may affect a person's ability to participate within them.</p>

<p>If you believe someone is violating the code of conduct, we ask that you
report it by emailing
<a href="mailto:conduct@djangoproject.com">conduct@djangoproject.com</a>.
For more details please see our
<a href="{% url 'conduct_reporting' %}">Reporting Guidelines</a></p>

<ul class="simple">
  <li><strong>Be friendly and patient.</strong></li>

  <li><strong>Be welcoming.</strong> We strive to be a community that welcomes
  and supports people of all backgrounds and identities. This includes, but
  is not limited to members of any race, ethnicity, culture, national origin,
  colour, immigration status, social and economic class, educational level, sex,
  sexual orientation, gender identity and expression, age, size, family status,
  political belief, religion, and mental and physical ability.</li>

  <li><strong>Be considerate.</strong> Your work will be used by other people, and you in turn will
  depend on the work of others. Any decision you take will affect users and
  colleagues, and you should take those consequences into account when making
  decisions. Remember that we're a world-wide community, so you might not be
  communicating in someone else's primary language.</li>

  <li><strong>Be respectful.</strong> Not all of us will agree all the time, but disagreement is no
  excuse for poor behavior and poor manners. We might all experience some
  frustration now and then, but we cannot allow that frustration to turn into a
  personal attack. It’s important to remember that a community where people feel
  uncomfortable or threatened is not a productive one. Members of the Django
  community should be respectful when dealing with other members as well as with
  people outside the Django community.</li>

  <li><strong>Be careful in the words that you choose.</strong> We are a community of professionals,
  and we conduct ourselves professionally. Be kind to others. Do not insult or
  put down other participants. Harassment and other exclusionary behavior
  aren't acceptable. This includes, but is not limited to:
  <ul>
    <li>Violent threats or language directed against another person.</li>
    <li>Discriminatory jokes and language.</li>
    <li>Posting sexually explicit or violent material.</li>
    <li>Posting (or threatening to post) other people's personally identifying information ("doxing").</li>
    <li>Personal insults, especially those using racist or sexist terms.</li>
    <li>Unwelcome sexual attention.</li>
    <li>Advocating for, or encouraging, any of the above behavior.</li>
    <li>Repeated harassment of others. In general, if someone asks you to stop, then stop.</li>
  </ul>
  </li>

  <li><strong>When we disagree, try to understand why.</strong> Disagreements, both social and
  technical, happen all the time and Django is no exception. It is important that
  we resolve disagreements and differing views constructively. Remember that we’re
  different. The strength of Django comes from its varied community, people from a
  wide range of backgrounds. Different people have different perspectives on
  issues. Being unable to understand why someone holds a viewpoint doesn’t mean
  that they’re wrong. Don’t forget that it is human to err and blaming each other
  doesn’t get us anywhere. Instead, focus on helping to resolve issues and learning from mistakes.</li>
</ul>

<p>Original text courtesy of the
<a href="http://web.archive.org/web/20141109123859/http://speakup.io/coc.html">
Speak Up! project</a>.</p>

<h2>Questions?</h2>
<p>If you have questions, please see <a href="{% url 'conduct_faq' %}">the FAQ</a>. If
that doesn't answer your questions, feel free to
<a href="mailto:conduct@djangoproject.com">contact us</a>.</p>

{% endblock %}
