{% extends "conduct/base.html" %}

{% block title %}Django Code of Conduct - Reporting Guide{% endblock %}

{% block content %}
<h1>Django Code of Conduct - Reporting Guide</h1>

<p>If you believe someone is violating the code of conduct we ask that you report
it to the Django Software Foundation by emailing <a
href="mailto:conduct@djangoproject.com">conduct@djangoproject.com</a>.
<strong>All reports will be kept confidential.</strong> In some cases we may
determine that a public statement will need to be made. If that's the case, the
identities of all victims and reporters will remain confidential unless those
individuals instruct us otherwise.</p>

<p><strong>If you believe anyone is in physical danger, please notify appropriate
law enforcement first.</strong> If you are unsure what law enforcement agency is
appropriate, please include this in your report and we will attempt to notify
them.</p>

<p>If you are unsure whether the incident is a violation, or whether the space
where it happened is covered by this Code of Conduct, we encourage you to still
report it. We would much rather have a few extra reports where we decide to take
no action, rather than miss a report of an actual violation. We do not look 
negatively on you if we find the incident is not a violation. And knowing
about incidents that are not violations, or happen outside our spaces, can also
help us to improve the Code of Conduct or the processes surrounding it.</p>

<p>In your report please include:
<ul>
    <li>Your contact info (so we can get in touch with you if we need to follow up)</li>
    <li>Names (real, nicknames, or pseudonyms) of any individuals involved. If there were other witnesses besides you, please try to include them as well.</li>
    <li>When and where the incident occurred. Please be as specific as possible.</li>
    <li>Your account of what occurred. If there is a publicly available record (e.g. a mailing list archive or a public IRC logger) please include a link.</li>
    <li>Any extra context you believe existed for the incident.</li>
    <li>If you believe this incident is ongoing.</li>
    <li>Any other information you believe we should have.</li>
</ul>
</p>

<h3>What happens after you file a report?</h3>

<p>You will receive an email from the DSF Code of Conduct Working Group
acknowledging receipt immediately. We promise to acknowledge receipt within 24
hours (and will aim for much quicker than that).</p>

<p>The working group will immediately meet to review the incident and determine:
<ul>
    <li>What happened.</li>
    <li>Whether this event constitutes a code of conduct violation.</li>
    <li>Who the bad actor was.</li>
    <li>Whether this is an ongoing situation, or if there is a threat to anyone's physical safety.</li>
</ul>
</p>

<p>If this is determined to be an ongoing incident or a threat to physical safety,
the working groups' immediate priority will be to protect everyone involved.
This means we may delay an "official" response until we believe that the
situation has ended and that everyone is physically safe.</p>

<p>Once the working group has a complete account of the events they will make a
decision as to how to response. Responses may include:
<ul>
    <li>Nothing (if we determine no violation occurred).</li>
    <li>A private reprimand from the working group to the individual(s) involved.</li>
    <li>A public reprimand.</li>
    <li>An imposed vacation (i.e. asking someone to "take a week off" from a mailing list or IRC).</li>
    <li>A permanent or temporary ban from some or all Django spaces (mailing lists, IRC, etc.)</li>
    <li>A request for a public or private apology.</li>
</ul>
</p>

<p>We'll respond within one week to the person who filed the report with either a
resolution or an explanation of why the situation is not yet resolved.</p>

<p>Once we've determined our final action, we'll contact the original reporter to
let them know what action (if any) we'll be taking. We'll take into account
feedback from the reporter on the appropriateness of our response, but we don't
guarantee we'll act on it.</p>

<p>Finally, the Working Group will make a report on the situation to the DSF board.
The board may choose to a public report of the incident.</p>

<h3>What if your report concerns a possible violation by a committee member?</h3>

<p>If your report concerns a current member of the Code of Conduct committee, you
may not feel comfortable sending your report to the committee, as all members will 
see the report.</p>

<p>In that case, you can make a report directly to any or all of the current
(vice/co) chairs of the Code of Conduct committee. Their e-mail addresses are
listed on the <a href="/foundation/committees/">Code of Conduct Committee</a>
page. The chairs will follow the usual enforcement process with the other 
members, but will exclude the member(s) that the report concerns from any
discussion or decision making.</p>

<p>If your report concerns all current (vice/co) chairs of the committee, please
send your report directly to the DSF board at 
<a href="mailto:foundation@djangoproject.com">foundation@djangoproject.com</a>
instead.</p>

<h3>Reconsideration</h3>

<p>Any of the parties directly involved or affected can request reconsideration 
of the committee’s decision. To make such a request, contact the DSF Board at
<a href="mailto:foundation@djangoproject.com">foundation@djangoproject.com</a>
with your request and motivation and the DSF board will review the case.</p>

{% endblock %}
