.console-block {
    text-align: right;

    *:before,
    *:after {
        box-sizing: border-box;
    }

    >input {

        &.c-tab-unix,
        &.c-tab-win {
            display: none;
        }

        &:checked+label {
            color: var(--console-tabs-color);
            border: 1px solid #ddd;
            border-top: 2px solid var(--console-tabs-border);
            border-bottom: 1px solid var(--white-color);
        }
    }

    >label {
        display: inline-block;
        padding: 4px 8px;
        font-weight: normal;
        text-align: center;
        color: #bbb;
        border: 1px solid transparent;
        font-family: fontawesome;
    }

    >section {
        display: none;
        text-align: left;

        .highlight {
            margin-top: 0px;
        }
    }

    >.c-tab-unix:checked~.c-content-unix,
    >.c-tab-win:checked~.c-content-win {
        display: block;
    }
}
