// CSS from pygments github dark theme
@media (prefers-color-scheme: dark) {
    :root {
        .highlight {
            td.linenos .normal {
                color: #6e7681;
                background-color: #0d1117;
                padding-left: 5px;
                padding-right: 5px;
            }

            span.linenos {
                color: #6e7681;
                background-color: #0d1117;
                padding-left: 5px;
                padding-right: 5px;
            }

            td.linenos .special {
                color: #c9d1d9;
                background-color: #6e7681;
                padding-left: 5px;
                padding-right: 5px;
            }

            span.linenos.special {
                color: #c9d1d9;
                background-color: #6e7681;
                padding-left: 5px;
                padding-right: 5px;
            }

            .hll {
                background-color: #6e7681
            }

            .c {
                color: #8b949e;
                font-style: italic
            }

            /* Comment */
            .err {
                color: #f85149
            }

            /* Error */
            .esc {
                color: #c9d1d9
            }

            /* Escape */
            .g {
                color: #c9d1d9
            }

            /* Generic */
            .k {
                color: #ff7b72
            }

            /* Keyword */
            .l {
                color: #a5d6ff
            }

            /* Literal */
            .o {
                color: #ff7b72;
                font-weight: bold
            }

            /* Operator */
            .x {
                color: #c9d1d9
            }

            /* Other */
            .p {
                color: #c9d1d9
            }

            /* Punctuation */
            .ch {
                color: #8b949e;
                font-style: italic
            }

            /* Comment.Hashbang */
            .cm {
                color: #8b949e;
                font-style: italic
            }

            /* Comment.Multiline */
            .cp {
                color: #8b949e;
                font-weight: bold;
                font-style: italic
            }

            /* Comment.Preproc */
            .cpf {
                color: #8b949e;
                font-style: italic
            }

            /* Comment.PreprocFile */
            .c1 {
                color: #8b949e;
                font-style: italic
            }

            /* Comment.Single */
            .cs {
                color: #8b949e;
                font-weight: bold;
                font-style: italic
            }

            /* Comment.Special */
            .gd {
                color: #ffa198;
                background-color: #490202
            }

            /* Generic.Deleted */
            .ge {
                color: #c9d1d9;
                font-style: italic
            }

            /* Generic.Emph */
            .gr {
                color: #ffa198
            }

            /* Generic.Error */
            .gh {
                color: #79c0ff;
                font-weight: bold
            }

            /* Generic.Heading */
            .gi {
                color: #56d364;
                background-color: #0f5323
            }

            /* Generic.Inserted */
            .go {
                color: #8b949e
            }

            /* Generic.Output */
            .gp {
                color: #8b949e
            }

            /* Generic.Prompt */
            .gs {
                color: #c9d1d9;
                font-weight: bold
            }

            /* Generic.Strong */
            .gu {
                color: #79c0ff
            }

            /* Generic.Subheading */
            .gt {
                color: #ff7b72
            }

            /* Generic.Traceback */
            .g-Underline {
                color: #c9d1d9;
                text-decoration: underline
            }

            /* Generic.Underline */
            .kc {
                color: #79c0ff
            }

            /* Keyword.Constant */
            .kd {
                color: #ff7b72
            }

            /* Keyword.Declaration */
            .kn {
                color: #ff7b72
            }

            /* Keyword.Namespace */
            .kp {
                color: #79c0ff
            }

            /* Keyword.Pseudo */
            .kr {
                color: #ff7b72
            }

            /* Keyword.Reserved */
            .kt {
                color: #ff7b72
            }

            /* Keyword.Type */
            .ld {
                color: #79c0ff
            }

            /* Literal.Date */
            .m {
                color: #a5d6ff
            }

            /* Literal.Number */
            .s {
                color: #a5d6ff
            }

            /* Literal.String */
            .na {
                color: #c9d1d9
            }

            /* Name.Attribute */
            .nb {
                color: #c9d1d9
            }

            /* Name.Builtin */
            .nc {
                color: #f0883e;
                font-weight: bold
            }

            /* Name.Class */
            .no {
                color: #79c0ff;
                font-weight: bold
            }

            /* Name.Constant */
            .nd {
                color: #d2a8ff;
                font-weight: bold
            }

            /* Name.Decorator */
            .ni {
                color: #ffa657
            }

            /* Name.Entity */
            .ne {
                color: #f0883e;
                font-weight: bold
            }

            /* Name.Exception */
            .nf {
                color: #d2a8ff;
                font-weight: bold
            }

            /* Name.Function */
            .nl {
                color: #79c0ff;
                font-weight: bold
            }

            /* Name.Label */
            .nn {
                color: #ff7b72
            }

            /* Name.Namespace */
            .nx {
                color: #c9d1d9
            }

            /* Name.Other */
            .py {
                color: #79c0ff
            }

            /* Name.Property */
            .nt {
                color: #7ee787
            }

            /* Name.Tag */
            .nv {
                color: #79c0ff
            }

            /* Name.Variable */
            .ow {
                color: #ff7b72;
                font-weight: bold
            }

            /* Operator.Word */
            .pm {
                color: #c9d1d9
            }

            /* Punctuation.Marker */
            .w {
                color: #6e7681
            }

            /* Text.Whitespace */
            .mb {
                color: #a5d6ff
            }

            /* Literal.Number.Bin */
            .mf {
                color: #a5d6ff
            }

            /* Literal.Number.Float */
            .mh {
                color: #a5d6ff
            }

            /* Literal.Number.Hex */
            .mi {
                color: #a5d6ff
            }

            /* Literal.Number.Integer */
            .mo {
                color: #a5d6ff
            }

            /* Literal.Number.Oct */
            .sa {
                color: #79c0ff
            }

            /* Literal.String.Affix */
            .sb {
                color: #a5d6ff
            }

            /* Literal.String.Backtick */
            .sc {
                color: #a5d6ff
            }

            /* Literal.String.Char */
            .dl {
                color: #79c0ff
            }

            /* Literal.String.Delimiter */
            .sd {
                color: #a5d6ff
            }

            /* Literal.String.Doc */
            .s2 {
                color: #a5d6ff
            }

            /* Literal.String.Double */
            .se {
                color: #79c0ff
            }

            /* Literal.String.Escape */
            .sh {
                color: #79c0ff
            }

            /* Literal.String.Heredoc */
            .si {
                color: #a5d6ff
            }

            /* Literal.String.Interpol */
            .sx {
                color: #a5d6ff
            }

            /* Literal.String.Other */
            .sr {
                color: #79c0ff
            }

            /* Literal.String.Regex */
            .s1 {
                color: #a5d6ff
            }

            /* Literal.String.Single */
            .ss {
                color: #a5d6ff
            }

            /* Literal.String.Symbol */
            .bp {
                color: #c9d1d9
            }

            /* Name.Builtin.Pseudo */
            .fm {
                color: #d2a8ff;
                font-weight: bold
            }

            /* Name.Function.Magic */
            .vc {
                color: #79c0ff
            }

            /* Name.Variable.Class */
            .vg {
                color: #79c0ff
            }

            /* Name.Variable.Global */
            .vi {
                color: #79c0ff
            }

            /* Name.Variable.Instance */
            .vm {
                color: #79c0ff
            }

            /* Name.Variable.Magic */
            .il {
                color: #a5d6ff
            }

            /* Literal.Number.Integer.Long */
        }
    }
}

html[data-theme="dark"] {
    .highlight {
        td.linenos .normal {
            color: #6e7681;
            background-color: #0d1117;
            padding-left: 5px;
            padding-right: 5px;
        }

        span.linenos {
            color: #6e7681;
            background-color: #0d1117;
            padding-left: 5px;
            padding-right: 5px;
        }

        td.linenos .special {
            color: #c9d1d9;
            background-color: #6e7681;
            padding-left: 5px;
            padding-right: 5px;
        }

        span.linenos.special {
            color: #c9d1d9;
            background-color: #6e7681;
            padding-left: 5px;
            padding-right: 5px;
        }

        .hll {
            background-color: #6e7681
        }

        .c {
            color: #8b949e;
            font-style: italic
        }

        /* Comment */
        .err {
            color: #f85149
        }

        /* Error */
        .esc {
            color: #c9d1d9
        }

        /* Escape */
        .g {
            color: #c9d1d9
        }

        /* Generic */
        .k {
            color: #ff7b72
        }

        /* Keyword */
        .l {
            color: #a5d6ff
        }

        /* Literal */
        .o {
            color: #ff7b72;
            font-weight: bold
        }

        /* Operator */
        .x {
            color: #c9d1d9
        }

        /* Other */
        .p {
            color: #c9d1d9
        }

        /* Punctuation */
        .ch {
            color: #8b949e;
            font-style: italic
        }

        /* Comment.Hashbang */
        .cm {
            color: #8b949e;
            font-style: italic
        }

        /* Comment.Multiline */
        .cp {
            color: #8b949e;
            font-weight: bold;
            font-style: italic
        }

        /* Comment.Preproc */
        .cpf {
            color: #8b949e;
            font-style: italic
        }

        /* Comment.PreprocFile */
        .c1 {
            color: #8b949e;
            font-style: italic
        }

        /* Comment.Single */
        .cs {
            color: #8b949e;
            font-weight: bold;
            font-style: italic
        }

        /* Comment.Special */
        .gd {
            color: #ffa198;
            background-color: #490202
        }

        /* Generic.Deleted */
        .ge {
            color: #c9d1d9;
            font-style: italic
        }

        /* Generic.Emph */
        .gr {
            color: #ffa198
        }

        /* Generic.Error */
        .gh {
            color: #79c0ff;
            font-weight: bold
        }

        /* Generic.Heading */
        .gi {
            color: #56d364;
            background-color: #0f5323
        }

        /* Generic.Inserted */
        .go {
            color: #8b949e
        }

        /* Generic.Output */
        .gp {
            color: #8b949e
        }

        /* Generic.Prompt */
        .gs {
            color: #c9d1d9;
            font-weight: bold
        }

        /* Generic.Strong */
        .gu {
            color: #79c0ff
        }

        /* Generic.Subheading */
        .gt {
            color: #ff7b72
        }

        /* Generic.Traceback */
        .g-Underline {
            color: #c9d1d9;
            text-decoration: underline
        }

        /* Generic.Underline */
        .kc {
            color: #79c0ff
        }

        /* Keyword.Constant */
        .kd {
            color: #ff7b72
        }

        /* Keyword.Declaration */
        .kn {
            color: #ff7b72
        }

        /* Keyword.Namespace */
        .kp {
            color: #79c0ff
        }

        /* Keyword.Pseudo */
        .kr {
            color: #ff7b72
        }

        /* Keyword.Reserved */
        .kt {
            color: #ff7b72
        }

        /* Keyword.Type */
        .ld {
            color: #79c0ff
        }

        /* Literal.Date */
        .m {
            color: #a5d6ff
        }

        /* Literal.Number */
        .s {
            color: #a5d6ff
        }

        /* Literal.String */
        .na {
            color: #c9d1d9
        }

        /* Name.Attribute */
        .nb {
            color: #c9d1d9
        }

        /* Name.Builtin */
        .nc {
            color: #f0883e;
            font-weight: bold
        }

        /* Name.Class */
        .no {
            color: #79c0ff;
            font-weight: bold
        }

        /* Name.Constant */
        .nd {
            color: #d2a8ff;
            font-weight: bold
        }

        /* Name.Decorator */
        .ni {
            color: #ffa657
        }

        /* Name.Entity */
        .ne {
            color: #f0883e;
            font-weight: bold
        }

        /* Name.Exception */
        .nf {
            color: #d2a8ff;
            font-weight: bold
        }

        /* Name.Function */
        .nl {
            color: #79c0ff;
            font-weight: bold
        }

        /* Name.Label */
        .nn {
            color: #ff7b72
        }

        /* Name.Namespace */
        .nx {
            color: #c9d1d9
        }

        /* Name.Other */
        .py {
            color: #79c0ff
        }

        /* Name.Property */
        .nt {
            color: #7ee787
        }

        /* Name.Tag */
        .nv {
            color: #79c0ff
        }

        /* Name.Variable */
        .ow {
            color: #ff7b72;
            font-weight: bold
        }

        /* Operator.Word */
        .pm {
            color: #c9d1d9
        }

        /* Punctuation.Marker */
        .w {
            color: #6e7681
        }

        /* Text.Whitespace */
        .mb {
            color: #a5d6ff
        }

        /* Literal.Number.Bin */
        .mf {
            color: #a5d6ff
        }

        /* Literal.Number.Float */
        .mh {
            color: #a5d6ff
        }

        /* Literal.Number.Hex */
        .mi {
            color: #a5d6ff
        }

        /* Literal.Number.Integer */
        .mo {
            color: #a5d6ff
        }

        /* Literal.Number.Oct */
        .sa {
            color: #79c0ff
        }

        /* Literal.String.Affix */
        .sb {
            color: #a5d6ff
        }

        /* Literal.String.Backtick */
        .sc {
            color: #a5d6ff
        }

        /* Literal.String.Char */
        .dl {
            color: #79c0ff
        }

        /* Literal.String.Delimiter */
        .sd {
            color: #a5d6ff
        }

        /* Literal.String.Doc */
        .s2 {
            color: #a5d6ff
        }

        /* Literal.String.Double */
        .se {
            color: #79c0ff
        }

        /* Literal.String.Escape */
        .sh {
            color: #79c0ff
        }

        /* Literal.String.Heredoc */
        .si {
            color: #a5d6ff
        }

        /* Literal.String.Interpol */
        .sx {
            color: #a5d6ff
        }

        /* Literal.String.Other */
        .sr {
            color: #79c0ff
        }

        /* Literal.String.Regex */
        .s1 {
            color: #a5d6ff
        }

        /* Literal.String.Single */
        .ss {
            color: #a5d6ff
        }

        /* Literal.String.Symbol */
        .bp {
            color: #c9d1d9
        }

        /* Name.Builtin.Pseudo */
        .fm {
            color: #d2a8ff;
            font-weight: bold
        }

        /* Name.Function.Magic */
        .vc {
            color: #79c0ff
        }

        /* Name.Variable.Class */
        .vg {
            color: #79c0ff
        }

        /* Name.Variable.Global */
        .vi {
            color: #79c0ff
        }

        /* Name.Variable.Instance */
        .vm {
            color: #79c0ff
        }

        /* Name.Variable.Magic */
        .il {
            color: #a5d6ff
        }

        /* Literal.Number.Integer.Long */
    }
}
