// Styleguide helper classes. Not intended for production use.

.styleguide {

    .example {
        padding: 0 20px 20px;
        border: 1px solid $gray-line;
        border-radius: 4px;
        margin-top: 20px;
        margin-bottom: 64px;
        &:before {
            content: "Example";
            font-size: 16px;
            font-weight: 700;
            display: block;
            color: $gray-line;
            @include sans-serif;
            text-align: left;
            padding: 10px 0;
        }

        [role="complementary"] {
            float: none;
            width: auto;
            padding: 0;
            margin: 0;
        }
    }

    .iframe {
        display: block;
        height: 400px;
        cursor: zoom-in;
        border: 1px solid $gray-line;
        overflow: hidden;

        iframe {
            pointer-events: none;
            position: relative;
            width: 200%;
            border: 0;
            height: 800px;
            -webkit-transform: scale(0.5) translate(-50%, -50%);
            transform: scale(0.5) translate(-50%, -50%);
            top: 0;
            left: 0;
            overflow: hidden;
        }
    }

    .swatches {
        margin: 0;
        padding: 0;
        list-style: none;
        @include clearfix;
        margin: 30px 0;
        li {
            width: 30%;
            height: 30px;
            margin-right: 2%;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            float: left;

            // Primary
            &.text {
                background: $text;
            }
            &.green-dark {
                background: $green-dark;
            }
            &.green {
                background: $green;
            }
            &.green-light {
                background: $green-light;
            }
            &.white {
                background: $white;
                border: 1px solid $gray-line;
            }
            &.red-dark {
                background: $red-dark;
            }

            // Secondary
            &.text-light {
                background: $text-light;
            }

            &.green-medium-dark {
                background: $green-medium-dark;
            }

            &.green-medium {
                background: $green-medium;
            }

            &.green-very-light {
                background: $green-very-light;
            }

            &.gray-line {
                background: $gray-line;
            }

            &.red {
                background: $red;
            }

        }
    }

    #layout {
        overflow: hidden;
    }

    #icons .icon {
        @include font-size(32);
        color: $green;
        padding: 0 .2em;
    }


}
