{% extends "base_community.html" %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/community/" />
{% endblock %}

{% block content %}

<h1>Community</h1>
<h2 class="deck">This page, updated every 15 minutes, aggregates blog entries by people who are
writing about Django.</h2>

{% for item in object_list %}
<h2><a href="{{ item.link }}">{{ item.title }}</a></h2>
<p class='date'>Posted on {{ item.date_modified|date:"F j, Y" }} at {{ item.date_modified|date:"g:i A" }} by <a href="{{ item.get_feed.public_url }}">{{ item.get_feed.title }}</a> <a class="rss" href="{{ item.get_feed.feed_url }}">RSS</a></p>
<div>
{{ item.summary }}
</div>
<p class="small"><a href="{{ item.link }}">Read this post in context &raquo;</a></p>
{% endfor %}

<div id="content-secondary">
{% if has_next %}<a href="?page={{ next }}">Earlier posts</a>{% endif %}</p>
</div>

{% endblock %}
