{% extends "base_community.html" %}

{% block content %}
<h1>Community</h1>

<h2 class="deck">Manage your community aggregator feeds:</h2>

<ul>
  {% for feed in feeds %}
    <li>
    {{ feed }} (<code>{{ feed.feed_url }}</code>) —
    <a href="{% url community-edit-feed feed.id %}">edit</a> | 
    <a href="{% url community-delete-feed feed.id %}">delete</a>
    </li>
  {% endfor %}
  <li>Add a new feed: 
    {% for t in feed_types %}
      <a href="{% url community-add-feed t.slug %}">{{ t }}</a>
      {% if not forloop.last %}|{% endif %}
    {% endfor %}
  </li>
  {# <li>Claim a feed already in the system.</li> #}
</ul>
{% endblock %}