{% extends "base.html" %}

{% block title %}Accessibility statement{% endblock %}

{% block content %}
<div class="section-content">
  <h1>Accessibility statement</h1>
  <p>
    The Django Software Foundation (DSF) is committed to making the Django
    website and documentation accessible to everyone, including people with
    disabilities.
  </p>
  <h2>Our commitment</h2>
  <p>
    We strive to meet the <a href="https://www.w3.org/TR/WCAG21/">Web Content
    Accessibility Guidelines (WCAG) 2.1</a> at Level AA.
  </p>
  <h2>Feedback and contact</h2>
  <p>
    If you experience any barriers, please contact us at
    <a href="mailto:accessibility@djangoproject.com">accessibility@djangoproject.com</a>.
  </p>
</div>
{% endblock %}
