# Alert the Code of Conduct Working Group to changes to conduct templates.
djangoproject/templates/conduct/**/* @django/coc-committee

# Alert the Fundraising Working Group to changes to pages relating to fundraising.
fundraising/**/* @django/fundraising
djangoproject/templates/fundraising/**/* @django/fundraising

# Alert the Releasers to changes relating to releases.
checklists/**/* @django/releasers
releases/**/* @django/releasers
djangoproject/templates/releases/**/* @django/releasers

# Alert the Steering Council to changes to the Community Ecosystem page
djangoproject/templates/aggregator/ecosystem.html @django/steering-council
