version: 2
updates:
    - package-ecosystem: "pip"
      directory: "/requirements/"
      schedule:
          interval: "weekly"
          day: "monday"
          time: "12:00"
          timezone: "Europe/Oslo" # hipp hipp hurra
      cooldown:
          default-days: 7
