*.db
*.pyc
*/locale/*/LC_MESSAGES/django.mo
.coverage
.sass-cache/
.tox
__pycache__
data
djangoproject/static/css/*.css
djangoproject/static/css/*.map
djangoproject/static/js/lib/jquery-flot/examples
djangoproject/static/js/lib/unveil/img
djangoproject/static/js/lib/unveil/index.html
djangoproject/static/js/lib/unveil/jquery-1.9.1.min.js
locale/*/LC_MESSAGES/django.mo
node_modules/
