__pycache__
*.pyc
*.db
locale/*/LC_MESSAGES/django.mo
*/locale/*/LC_MESSAGES/django.mo
.sass-cache/
.coverage
.tox
djangoproject/static/js/lib/jquery-flot/examples
djangoproject/static/css/*.map
djangoproject/static/css/*.css
djangoproject/static/js/lib/unveil/jquery-1.9.1.min.js
djangoproject/static/js/lib/unveil/index.html
djangoproject/static/js/lib/unveil/img
node_modules/
