__pycache__
*.pyc
*.db
docs/locale/*/LC_MESSAGES/django.mo
.sass-cache/
.coverage
.tox
djangoproject/static/js/lib/jquery-flot/examples
djangoproject/static/css/*.map
djangoproject/static/css/*.css
media_root/
