exclude: \/migrations\/
default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.4.0"
    hooks:
      - id: debug-statements
      - id: detect-private-key
      - id: file-contents-sorter
        files: ^(requirements/\w*.txt)$
        args: ["--ignore-case", "--unique"]
      - id: fix-encoding-pragma
        args: ["--remove"]
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
    - id: black
  - repo: https://github.com/pycqa/isort
    rev: "v5.11.3"
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    rev: "6.0.0"
    hooks:
      - id: flake8
