exclude: '^djangoproject\/static\/(css\/|fonts\/|img\/|robots).*$'
default_language_version:
    python: python3
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-added-large-files
            args: ["--maxkb=1024"]
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-json
          - id: check-merge-conflict
          - id: check-shebang-scripts-are-executable
          - id: check-toml
          - id: check-yaml
            args: ["--allow-multiple-documents"]
          - id: debug-statements
          - id: detect-private-key
          - id: end-of-file-fixer
            exclude: '(^djangoproject\/static\/js\/lib\/.*$)'
            exclude_types: [json, sql]
          - id: file-contents-sorter
            files: ^(requirements/\w*.txt)$
            args: ["--ignore-case"]
          - id: fix-byte-order-marker
          - id: mixed-line-ending
          - id: trailing-whitespace

    - repo: https://github.com/asottile/pyupgrade
      rev: v3.21.2
      hooks:
          - id: pyupgrade
            args: [--py312]

    - repo: https://github.com/adamchainz/django-upgrade
      rev: 1.29.1
      hooks:
          - id: django-upgrade
            args: [--target-version, "6.0"]

    - repo: https://github.com/psf/black-pre-commit-mirror
      rev: 25.12.0
      hooks:
          - id: black
            args: ["--target-version=py312"]

    - repo: https://github.com/rbubley/mirrors-prettier
      rev: v3.7.4
      hooks:
          - id: prettier
            exclude_types: [html, json, scss]
            exclude: '(^djangoproject\/static\/js\/lib\/.*$)'

    - repo: https://github.com/pycqa/isort
      rev: 7.0.0
      hooks:
          - id: isort

    - repo: https://github.com/pycqa/flake8
      rev: 7.3.0
      hooks:
          - id: flake8

    - repo: https://github.com/rtts/djhtml
      rev: 3.0.10
      hooks:
          - id: djhtml
            files: .*/templates/.*\.html$

    - repo: https://github.com/mrtazz/checkmake.git
      rev: 0.2.2
      hooks:
          - id: checkmake
