# Requirements to deploy this code.

akismet == 0.2.0
Django == 1.7.1
django-contact-form == 1.0
django-haystack == 1.2.7
django-hosts==1.0
django-push == 0.6.1
django-pylibmc == 0.5.0
django-registration-redux==1.1
django-pygments==0.1
django-secure == 1.0
docutils == 0.11
feedparser == 5.1.3
Jinja2 == 2.7.3
psycopg2 == 2.5.3
pylibmc == 1.4.1
raven == 5.0.0
requests == 2.3.0
Sphinx == 1.2.2
Unipath == 1.0
# xapian-haystack has a bug in 1.1.5beta fixed in trunk.
-e git://github.com/notanumber/xapian-haystack.git@dc11c14542c0137831e5#egg=xapian-haystack

# In production, xapian is installed with the python-xapian system package.
# The virtualenv must have access to the global site-packages dir.
