# Requirements to deploy this code.

akismet == 0.2.0
Django == 1.5.4
django-contact-form == 1.0
django-haystack == 1.2.7
django-push == 0.4
django-registration==1.0
django-secure == 1.0
docutils == 0.10
feedparser == 5.1.3
Jinja2 == 2.6
psycopg2 == 2.5
python-memcached == 1.48
raven == 1.4.6
South == 0.7.6
Sphinx == 1.2b3
Unipath == 1.0
# xapian-haystack has a bug in 1.1.5beta fixed in trunk.
-e git://github.com/notanumber/xapian-haystack.git@dc11c14542c0137831e5#egg=xapian-haystack

# In production, xapian is installed with the python-xapian system package.
# The virtualenv must have access to the global site-packages dir.
