html {
    /* background by subtlepatterns.com */
    background: url(bg.png) repeat left top;
}

body {
    font-family: freight-sans-pro, sans-serif;
    font-size: 100%;
    width: 600px;
    margin: 20px auto;
    padding: 50px 20px 20px;
}

#masthead>h1 {
    height: 63px;
    text-indent: -9999px;
    background: url(djangoux.png) no-repeat left center;
    margin: 0;
}

#masthead>h2 {
    text-transform: uppercase;
    font-size: 1.8em;
    color: white;
    margin: 0.25em 0 0.5em;
}

#mailinglist {
    font-weight: 700;
    text-decoration: none;
    color: black;
    display: inline-block;
    background: rgba(255,255,255,0.2);
    padding: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#mailinglist:hover {
    text-decoration: underline;
    background: rgba(255,255,255,0.5);
    color: black;
}