{% extends "base_weblog.html" %}
{% load i18n %}

{% block title %}{{ object.headline|escape }} | Weblog{% endblock %}

{% block og_title %}{{ object.headline|safe }}{% endblock %}
{% block og_description %}{% blocktranslate trimmed with author=object.author pub_date=object.pub_date|date:"DATE_FORMAT" %}
    Posted by {{ author }} on {{ pub_date }}
{% endblocktranslate %}{% endblock %}

{% block content %}
    <h2>{{ object.headline|safe }}</h2>

    <span class="meta">{% blocktranslate trimmed with author=object.author pub_date=object.pub_date|date:"DATE_FORMAT" %}
        Posted by <strong>{{ author }}</strong> on {{ pub_date }} </span>
    {% endblocktranslate %}
        {{ object.body_html|safe }}
{% endblock %}
