{% extends "base_weblog.html" %}

{% block content %}

  {% comment %}
    {# This is not implemented in backend yet #}
    <form action="#" class="form-input" role="search">
      <label class="visuallyhidden" for="news-search">Search:</label>
      <input type="text" name="news-search" id="news-search" placeholder="Search News" />
      <button type="submit">
        <i class="icon icon-search"></i>
        <span class="visuallyhidden">Search</span>
      </button>
    </form>
  {% endcomment %}

  <ul class="list-news">

  {% for object in latest %}
    {% include 'blog/news_summary.html' with object=object %}
  {% endfor %}

  </ul>

  {% include 'blog/blog_pagination.html' %}

{% endblock %}
