{% extends "base_weblog.html" %}
{% load i18n %}

{% block title %}{{ month|date:"YEAR_MONTH_FORMAT" }} | {% translate "Weblog" %}{% endblock %}

{% block og_title %}{% blocktranslate %}Django news: {{ month|date:"YEAR_MONTH_FORMAT" }} archive{% endblocktranslate %}{% endblock %}

{% block content %}

  <h1>{% blocktranslate %}{{ month|date:"YEAR_MONTH_FORMAT" }} archive{% endblocktranslate %}</h1>

  <ul class="list-news">

    {% for object in object_list %}
      {% include 'blog/news_summary.html' with object=object %}
    {% endfor %}

  </ul>

  {% include 'blog/blog_pagination.html' %}

{% endblock %}
