  {% regroup dates by year as dates_by_year %}

  <ul class="list-collapsing active">
  {% for month in dates_by_year %}
    <li id="year{{ month.grouper }}"{% if forloop.first %} class="active"{% endif %}>
      <h2><a href="{% url 'blog-archive-year' month.grouper %}">{{ month.grouper }}</a> <i class="collapsing-icon icon icon-plus"></i></h2>
      <div class="collapsing-content">
        <ul class="list-links-small">
          {% for d in month.list %}
            <li><a href="{% url 'blog-archive-month' d|date:"Y" d|date:"b" %}">{{ d|date:"F Y" }}</a></li>
          {% endfor %}
        </ul>
        <p></p>
      </div>
    </li>
  {% endfor %}
  </ul>
