{% extends "base_2col.html" %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/weblog/" />
{% endblock %}

{% block sectionid %}weblog{% endblock %}

{% block title %}Weblog{% endblock %}

{% block billboard %}<h2><a href="/weblog/">Weblog</a></h2>{% endblock %}

{% block content-related %}
<h2>Archives</h2>
<ul class="linklist">
	<li><a href="/weblog/2006/aug/">August 2006</a></li>
	<li><a href="/weblog/2006/jul/">July 2006</a></li>
	<li><a href="/weblog/2006/jun/">June 2006</a></li>
	<li><a href="/weblog/2006/may/">May 2006</a></li>
	<li><a href="/weblog/2006/apr/">April 2006</a></li>
	<li><a href="/weblog/2006/mar/">March 2006</a></li>
	<li><a href="/weblog/2006/feb/">February 2006</a></li>
	<li><a href="/weblog/2006/jan/">January 2006</a></li>
	<li><a href="/weblog/2005/dec/">December 2005</a></li>
  <li><a href="/weblog/2005/nov/">November 2005</a></li>
	<li><a href="/weblog/2005/oct/">October 2005</a></li>
	<li><a href="/weblog/2005/sep/">September 2005</a></li>
	<li><a href="/weblog/2005/aug/">August 2005</a></li>
	<li><a href="/weblog/2005/jul/">July 2005</a></li>
</ul>

<h2>RSS feeds</h2>
<ul class="linklist">
	<li><a href="/rss/weblog/">Latest weblog entries</a></li>
	<li><a href="/rss/comments/">Latest comments</a></li>
	<li><a href="http://code.djangoproject.com/timeline?daysback=90&amp;max=50&amp;wiki=on&amp;ticket=on&amp;changeset=on&amp;milestone=on&amp;format=rss">Recent code changes</a></li>
</ul>
{% endblock %}
