{% extends "base_2col" %}

{% block sectionid %}community{% endblock %}

{% block title %}Community{% endblock %}

{% block billboard %}<h2>Community</h2>{% endblock %}

{% block content-related %}

<h2>Get involed</h2>

<ul>
<li>Do you write about Django?  <a href="mailto:jacob@jacobian.org">Let us know</a> and we'll add your feed to this page.</li>
<li>If you'd like to contribute to Django, join the <a href="http://groups-beta.google.com/group/django-developers">django-developers mailing list</a></li>
<li><a href="http://code.djangoproject.com/newticket">Report bugs and make feature requests</a> in our ticket system.</li>
<li>Contribute documentation to <a href="http://code.djangoproject.com/wiki">the wiki</a></li>
<li>If you find bugs or documentation that isn't explained well enough, please post a comment to the appropriate page, and we'll fix things.</li>
</ul>

<h2>Get help</h2>

<ul>
<li><a href="/documentation/faq/">Check our FAQ</a> first.  If you have a basic question that's not answered by the FAQ, <a href="http://code.djangoproject.com/newticket">file a ticket</a> to tell us you think it should be in there.</li>
<li><a href="irc://irc.freenode.net/django">#django IRC channel on irc.freenode.net</a></li>
<li>Read the <a href="http://loglibrary.com/show_page/latest/179">IRC channel logs</a></li>
<li>Ask questions on the <a href="http://groups-beta.google.com/group/django-users">django-users mailing list</a></li>
</ul>

<h2>Authors</h2>

<ul>
{% load aggregator %}
{% get_feed_list as feed_list %}
{% for feed in feed_list %}
<li><a href="{{ feed.public_url }}">{{ feed }}</a> <a class="rss" href="{{ feed.feed_url }}">RSS</a></li>
{% endfor %}
</ul>
{% endblock %}