@import url(base.css);

.button-download { display:block; background:url(https://www.djangoproject.com/m/img/site/download_bg-left.gif) no-repeat; }
.button-download a { height:18px; color:white; display:block; white-space:nowrap; background:url(https://www.djangoproject.com/m/img/site/download_bg-right.gif) top right no-repeat; padding:6px 12px; }