{% load humanize static %}

{% if donation %}
  <h2>Support Django!</h2>

  <img src="{% static "img/small-fundraising-heart.png" %}" alt="Support Django!"
    class="small-fundraising-heart"/>

  <ul class="list-links-small">
    <li><a href="{% url "fundraising:index" %}">
      {{ donation.name }} donated
      {% if donation.is_amount_displayed %}${{ donation.donated_amount|intcomma }}{% endif %}
      for the Django Fellowship program to help develop Django. <br />
      Join them today!
    </a></li>
  </ul>
{% endif %}
