{% extends "base.html" %}

{% block layout_class %}full-width{% endblock %}

{% block title %}How Investing in Django Makes a Difference{% endblock %}

{% block og_title %}How Investing in Django Makes a Difference{% endblock %}

{% block header %}
  <h1 id="how-investing-in-django-makes-a-difference">How Investing in Django Makes a Difference</h1>
{% endblock header %}

{% block content %}
  <a href="/fundraising/"><img class="sponsor-image" src="https://media.djangoproject.com/blog/images/2026/06/2026-04-prospectus-banner.png" alt="Django is counting on your contribution today!"></a>

  <p>By <a href="/foundation/corporate-membership/">sponsoring the DSF</a>, you align your financial commitment with responsible and accountable open-source stewardship, build developer trust, and contribute to long-term technical excellence, all while receiving <a href="/foundation/corporate-members/">global recognition</a> as a Django supporter.</p>
  <h2 id="strengthening-django-the-django-fellows">Strengthening Django: The Django Fellows</h2>
  <p><strong>Our paid Fellows are critical to Django.</strong> While the vast majority of Django contributions come from unpaid volunteers, sustaining and growing the paid DSF <a href="/fundraising/#fellowship-program">Django Fellowship program</a> means: </p>
  <ul>
    <li>🔒 Handling security reports swiftly.</li>
    <li>⚡ Speeding up the design of new features.</li>
    <li>🫶 Supporting the Django package ecosystem.</li>
    <li>⭐️ Leading mentorship programs and developer sprints.</li>
  </ul>
  <p>To make Django more sustainable and responsive, we are expanding the Fellowship program with a new <strong>Sponsored Fellowship initiative.</strong> This lets the DSF increase the number of Fellows, get more work done, and ensure community priorities are addressed with direct feedback from top-level sponsors.</p>
  <p><strong>Our goal is clear:</strong> faster pull request reviews, quicker security responses, and a healthier ecosystem for Django developers and package maintainers. This expansion is essential to keep up with Django’s growth and ensure that contributors, especially volunteers, are supported and not blocked.</p>
  <h2 id="current-funding-at-a-glance">Current Funding at a Glance</h2>
  <p>Typically, our funding looks something like this:</p>

  <ul>
    <li>
      Incoming
      <ul>
        <li>65% donated by corporate members</li>
        <li>35% donated by individual donors</li>
        <li>Small amounts received from other sources (e.g. sale of merchandise, etc.)</li>
      </ul>
    </li>
    <li>
      Outgoing
      <ul>
        <li>80% strengthens Django through our Django Fellowship program</li>
        <li>15% supports the global Django community workshops, conferences, and other events</li>
        <li>5% covers administrative essentials that haven’t been covered by in-kind sponsors</li>
      </ul>
    </li>
  </ul>

  <p>Our last <a href="/foundation/reports/2024/">annual report</a> has more details. </p>
  <h2 id="corporate-membership-tiers">Corporate Membership Tiers</h2>
  <p>For organizations not able to meet the levels for corporate membership, please take a look at the question <a href="/foundation/donate/#alternative-organizational-support">“Are there other ways organizations can support the DSF?”</a> on our Giving FAQ page for other opportunities.</p>
  <div class="table-wrapper table-wrapper-wide">
    <table class="sponsor-tiers">
      <thead>
        <tr>
          <th scope="col">Tier:</th>
          <th scope="col">Bronze</th>
          <th scope="col">Silver</th>
          <th scope="col">Gold</th>
          <th scope="col">Platinum</th>
          <th scope="col">Diamond</th>
          <th scope="col">Sponsored Fellow</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Amount Threshold:</th>
          <td>$2,200+</td>
          <td>$5,500+</td>
          <td>$13,750+</td>
          <td>$30,000+</td>
          <td>$100,000+</td>
          <td>$200,000+</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>The real reasons for giving financial support to the DSF</h3>
  <div class="table-wrapper table-wrapper-wide">
    <table class="sponsor-tiers">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Bronze</th>
          <th scope="col">Silver</th>
          <th scope="col">Gold</th>
          <th scope="col">Platinum</th>
          <th scope="col">Diamond</th>
          <th scope="col">Sponsored Fellow</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Ensure the longevity and quality of the Django Framework</th>
          <td>🙌</td>
          <td>💪</td>
          <td>💚</td>
          <td>🏆</td>
          <td>💎</td>
          <td>💎💎</td>
        </tr>
        <tr>
          <th scope="row">Directly support the <a href="/foundation/">DSF goals</a></th>
          <td>🙌</td>
          <td>💪</td>
          <td>💚</td>
          <td>🏆</td>
          <td>💎</td>
          <td>💎💎</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Some other perks of giving financial support to the DSF</h3>

  <h4>Social media spotlights</h4>
  <p>For more information regarding each account, see our <a href="#dsf-social-media-reach">DSF Social Media Reach</a>.</p>
  <div class="table-wrapper table-wrapper-wide">
    <table class="sponsor-tiers">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Bronze</th>
          <th scope="col">Silver</th>
          <th scope="col">Gold</th>
          <th scope="col">Platinum</th>
          <th scope="col">Diamond</th>
          <th scope="col">Sponsored Fellow</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">An appreciation post for your donation posted on platforms of your choosing: Mastodon, Bluesky, X, LinkedIn, Reddit</th>
          <td>Text &amp; link</td>
          <td>Text &amp; link</td>
          <td>Text, link, &amp; picture</td>
          <td>Text, link, &amp; picture</td>
          <td>Text, link, &amp; picture</td>
          <td>Text, link, &amp; picture</td>
        </tr>
        <tr>
          <th scope="row">Dedicated announcement posts/reposts of something from your organization.</th>
          <td></td>
          <td>Up to 3 posts/year</td>
          <td>Up to 5 posts/year</td>
          <td>Up to 7 posts/year</td>
          <td>Up to 10 posts/year</td>
          <td>Up to 10 posts/year</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4>Promotion through Django News</h4>
  <div class="table-wrapper table-wrapper-wide">
    <table class="sponsor-tiers">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Bronze</th>
          <th scope="col">Silver</th>
          <th scope="col">Gold</th>
          <th scope="col">Platinum</th>
          <th scope="col">Diamond</th>
          <th scope="col">Sponsored Fellow</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Custom sponsorship slot/s in <a href="https://django-news.com/sponsorship#details">Django News Newsletter</a></th>
          <td></td>
          <td></td>
          <td>Up to 1 ad/year</td>
          <td>Up to 2 ads/year</td>
          <td>Up to 4 ads/year</td>
          <td>Up to 4 ads/year</td>
        </tr>
        <tr>
          <th scope="row">Shares on Django-News social media accounts: Mastodon, Bluesky, X</th>
          <td></td>
          <td></td>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4>Prominence in Online Spaces</h4>
  <div class="table-wrapper table-wrapper-wide">
    <table class="sponsor-tiers">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Bronze</th>
          <th scope="col">Silver</th>
          <th scope="col">Gold</th>
          <th scope="col">Platinum</th>
          <th scope="col">Diamond</th>
          <th scope="col">Sponsored Fellow</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Discord Role “Corporate Sponsor” in the <a href="https://chat.djangoproject.com/">Django Discord</a></th>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
        </tr>
        <tr>
          <th scope="row">Announcements Prominent in Discord</th>
          <td></td>
          <td>Up to 1 post/year</td>
          <td>Up to 2 posts/year</td>
          <td>Up to 3 posts/year</td>
          <td>Up to 4 posts/year</td>
          <td>Up to 4 posts/year</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4>Showcase your support of the DSF</h4>
  <div class="table-wrapper table-wrapper-wide">
    <table class="sponsor-tiers">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Bronze</th>
          <th scope="col">Silver</th>
          <th scope="col">Gold</th>
          <th scope="col">Platinum</th>
          <th scope="col">Diamond</th>
          <th scope="col">Sponsored Fellow</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Logo, link, and description listed on <a href="/foundation/corporate-members/">DSF Corporate Members webpage</a> and <a href="/fundraising/">DSF fundraising webpage</a>.</th>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
        </tr>
        <tr>
          <th scope="row"><a href="/foundation/corporate-members/badges/">Corporate Member Badge</a> for your website or materials</th>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
        </tr>
        <tr>
          <th scope="row">Logo and link on our <a href="/foundation/reports/2024/">Annual Report</a></th>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
        </tr>
        <tr>
          <th scope="row">Logo, link and description on the <a href="/community/">Community</a> and <a href="/foundation/">About</a> Pages</th>
          <td></td>
          <td></td>
          <td>space permitting</td>
          <td>✅</td>
          <td>✅</td>
          <td>✅</td>
        </tr>
        <tr>
          <th scope="row">Logo, link and description on the <a href="/download/">Downloads</a>, <a href="https://docs.djangoproject.com/en/stable/">Documentation</a>, and <a href="/weblog/">News</a> landing pages sidebar</th>
          <td></td>
          <td></td>
          <td></td>
          <td>space permitting</td>
          <td>✅</td>
          <td>✅</td>
        </tr>
        <tr>
          <th scope="row">Special thanks on new release notes</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>✅</td>
          <td>✅</td>
        </tr>
        <tr>
          <th scope="row">Name and link in website footer</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>✅</td>
          <td>✅</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4>Promotion through Django Website Blog</h4>
  <div class="table-wrapper table-wrapper-wide">
    <table class="sponsor-tiers">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Bronze</th>
          <th scope="col">Silver</th>
          <th scope="col">Gold</th>
          <th scope="col">Platinum</th>
          <th scope="col">Diamond</th>
          <th scope="col">Sponsored Fellow</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Blog posts on the <a href="/weblog/">Django Blog</a></th>
          <td></td>
          <td>potential approval</td>
          <td>Up to 1 post/year</td>
          <td>Up to 2 posts/year</td>
          <td>Up to 4 posts/year</td>
          <td>Up to 4 posts/year</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4>Prominence with Django Leadership</h4>
  <div class="table-wrapper table-wrapper-wide">
    <table class="sponsor-tiers">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Bronze</th>
          <th scope="col">Silver</th>
          <th scope="col">Gold</th>
          <th scope="col">Platinum</th>
          <th scope="col">Diamond</th>
          <th scope="col">Sponsored Fellow</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Yearly meeting with the Django Software Foundation Board of Directors</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>✅</td>
          <td>✅</td>
        </tr>
        <tr>
          <th scope="row">Yearly meeting with the Django Project Steering Council</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>✅</td>
          <td>✅</td>
        </tr>
        <tr>
          <th scope="row">Quarterly meetings with a Sponsored Django Fellow</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>✅</td>
        </tr>
        <tr>
          <th scope="row">Fellows will mention Sponsor in public ways, including at events.</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>✅</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2 id="django-powers-the-web-for-perfectionists-with-deadlines-the-dsf-powers-django-">Django Powers the Web for Perfectionists With Deadlines. The DSF Powers Django.</h2>
  <p>Django is an open source web framework trusted by companies, organizations, and governments worldwide to build everything from content management systems to social networks to scientific computing platforms. It’s reliable, secure, scalable, ridiculously fast, and free to use for everyone.</p>
  <p>With <strong>87.6k GitHub stars, 34k forks,</strong> and an estimated <strong>500,000 to 1 million projects</strong> built on it globally, Django powers critical infrastructure for thousands of companies and tens of thousands of developers. Yet, despite its widespread adoption and impact, the DSF has historically received only around <strong>$250,000 per year</strong> to sustain Django.</p>
  <p>This stark contrast underscores a hard truth: open-source success doesn&#39;t guarantee sustainability and that is precisely why Django needs your support. By sponsoring Django, you’re not just giving back. You’re investing in the future of reliable, secure, and innovative web development.</p>
  <p>As a sponsor, your organization also gains global recognition and aligns your brand with one of the most respected frameworks in the open-source world. <strong>Support Django. Help it thrive.</strong></p>
  <h2 id="our-mission">Our Mission</h2>
  <p>Sustain Django. Support its Community. Strengthen its Future.</p>
  <p>The DSF is a community-driven 501(c)(3) non-profit dedicated to supporting, promoting, protecting, and advancing the Django Web Framework. </p>
  <p>Our mission is to ensure Django remains and grows as a tool enabling robust, accessible, and inclusive web applications built by developers worldwide. We do this by:</p>
  <ul>
    <li><strong>Empowering Contributor Participation:</strong> Support development of Django by sponsoring sprints, meetups, gatherings and community events.</li>
    <li><strong>Expanding Outreach:</strong> Invest in outreach to encourage Django’s use in education, startups, and enterprises to make Django more visible and more valuable.</li>
    <li><strong>Investing in Long Term Stability:</strong> Funding folks to strategically lead aspects on technical development and business operations.</li>
    <li><strong>Providing Financial Aid:</strong> Offer grants and aid so contributors across the world can attend conferences and engage with the community.</li>
    <li><strong>Covering Infrastructure Cost:</strong> Maintain system infrastructure and hosting fees which is the backbone of reliable open-source projects.</li>
    <li><strong>Fostering Global Community:</strong> Ensure support goes beyond borders and actively welcomes individuals from all backgrounds.</li>
  </ul>

  <img class="sponsor-image" src="https://media.djangoproject.com/blog/images/2026/06/DjangoConUS24_BPawlik-226_c.jpg" alt="Attendees at DjangoCon US 2024, photographed by Bartek Pawlik">

  <h3 id="supporting-the-global-django-community">Supporting the Global Django Community</h3>
  <h4 id="educational-outreach">Educational Outreach</h4>
  <p>The DSF provides funding for local groups around the world, including to <a href="https://djangogirls.org/">Django Girls workshops</a>. Django Girls workshops are free, volunteer-run events to introduce primarily women to Python and Django. Attendees learn valuable skills to build their first web app with guidance from mentors. Many attendees become community leaders who go on to organize their own workshops, help others learn to code, and secure full-time jobs as developers.</p>
  <p>To help these workshops and similar groups thrive, the DSF offers small grants to cover essential costs like reserving locations with internet access for people to come together and learn. All groups are welcome to apply for this funding, and the DSF prioritizes funding communities that struggle to find ways to cover the costs through other means.</p>
  <h4 id="conference-and-event-support">Conference and Event Support</h4>
  <p>The DSF supports Django conferences and events around the world, sometimes in partnership with other nonprofits such as the Django Events Foundation North America (DEFNA). The DSF also supports Python conferences with Django presence. The DSF prioritizes grant programs that make attending events more accessible and inclusive for those facing financial barriers.</p>
  <h3 id="now-s-the-time-to-invest-in-django-s-future">Now’s the time to invest in Django’s future</h3>
  <p>Imagine the possibilities we could achieve with additional funding; for example:</p>

  <ul>
    <li>
      <strong>Hire an Executive Director which would:</strong>
      <ul>
        <li>Enable strategic leadership of our operations</li>
        <li>Dramatically expand our capabilities</li>
      </ul>
    </li>
    <li>
      <strong>Grow our Fellowship program which would:</strong>
      <ul>
        <li>Increase support for Django’s core development, community mentorship, and feature enhancements</li>
        <li>Speed up critical improvements and innovations</li>
      </ul>
    </li>
    <li>
      <strong>Launch dedicated feature grants which would:</strong>
      <ul>
        <li>Fund impactful Django enhancements like built-in WebAuthn, improved API serialization, or a modernized admin interface</li>
        <li>Speed up the implementation of highly sought after features</li>
      </ul>
    </li>
    <li>
      <strong>Grow our community support which would:</strong>
      <ul>
        <li>Increase the number of grants for events and community projects</li>
        <li>Consider introducing individual grants for work in Django, particularly for those in financial crisis</li>
      </ul>
    </li>
  </ul>

  <h2 id="dsf-social-media-reach">DSF Social Media Reach</h2>
  <p>We reach 350k+ developers, with 12M+ impressions per year. The Django Project <a href="https://www.djangoproject.com">website</a> alone sees 70M+ hits a month.</p>
  <div class="table-wrapper">
    <table class="sponsor-reach">
      <thead>
        <tr>
          <th scope="col">Platform</th>
          <th scope="col">Subscribers</th>
          <th scope="col">Highlight</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">X / Twitter: <a href="https://x.com/djangoproject">@djangoproject</a></th>
          <td><a href="https://x.com/djangoproject/verified_followers">180,000+</a></td>
          <td>5k average impressions per post</td>
        </tr>
        <tr>
          <th scope="row">LinkedIn: <a href="https://www.linkedin.com/company/django-software-foundation/posts/?feedView=all">Django Software Foundation</a></th>
          <td>5,000+</td>
          <td>7% average engagement rate, 5% click-through</td>
        </tr>
        <tr>
          <th scope="row">Mastodon: <a href="https://fosstodon.org/@django">@django@fosstodon.org</a></th>
          <td>2,500+</td>
          <td>Most replies per post</td>
        </tr>
        <tr>
          <th scope="row">Bluesky: <a href="https://bsky.app/profile/djangoproject.com">@djangoproject.com</a></th>
          <td>1,500+</td>
          <td>Fastest-growing (+10% month-to-month)</td>
        </tr>
        <tr>
          <th scope="row">Reddit: <a href="https://www.reddit.com/r/django/">r/django</a></th>
          <td>150,000+</td>
          <td>10k unique visitors per day</td>
        </tr>
        <tr>
          <th scope="row">Newsletter: <a href="https://django-news.com/sponsorship">Django News</a></th>
          <td>4,000+</td>
          <td>59% open rate</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>Last updated: June 2026</p>
  <h2 id="now-s-the-time">Now’s the time</h2>
  <ul>
    <li><a href="/foundation/corporate-membership/join/">Donate Now: Corporate Membership</a></li>
    <li><a href="/fundraising/">Donate Now: Individual</a></li>
    <li><a href="/contact/foundation/">Contact us</a></li>
  </ul>

<!--
<h2 id="who-else-thought-funding-django-was-worth-it-">Who Else Thought Funding Django Was Worth It?</h2>
-->

  <p>
    <strong>
      Conference photo above courtesy of <a href="https://djangocon.us">DjangoCon US 2024</a>,
      organized by <a href="https://www.defna.org">DEFNA</a>.
      <a href="https://www.flickr.com/photos/djangocon/54089576815/in/album-72177720321461933/">View on Flickr</a>.<br>
      Photo by Bartek Pawlik -
      <a href="https://bartpawlik.format.com">bartpawlik.format.com</a>.
    </strong>
  </p>

  <a href="#top" class="backtotop"><i class="icon icon-chevron-up fa fa-chevron-up"></i> Back to Top</a>

{% endblock content %}
