{% extends 'fundraising/index.html' %}
{% load humanize static %}

{% block content %}
<h1>Thank you for supporting the Django Project!</h1>
<p>Your support is <strong>invaluable</strong> to continue the rapid development
  of Django and helps the <strong>Django Fellowship</strong> program in particular.</p>

<p>Please help us spread the word and encourage your friends and colleagues to
  donate. Thank you!</p>

<a href="https://twitter.com/intent/tweet?button_hashtag=SupportDjango&text=I+just+donated+to+support+the+Django+Software+Foundation.+Join+me!+https%3A%2F%2Fwww.djangoproject.com%2Ffundraising%2F"
  class="twitter-hashtag-button" data-related="djangoproject">Tweet #SupportDjango</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<p>
You should receive an email shortly, with confirmation of your donation,
details of badges you can display to show you support of Django, managing your
donation,  and how you can have your name or company displayed on the
Fundraising page and in the sidebar on the Django Project website.
</p>

<p>Welcome aboard! ⛵️</p>

<hr>

<p>If you have any <strong>problems</strong> with your donation please email <a href="mailto:donations@djangoproject.com">donations@djangoproject.com</a> for help.</p>

{% endblock %}

{% block content-extra %}{% endblock %}
