{% extends "base_foundation.html" %}
{% load i18n %}

{% block content %}
  <h1>{% trans "Individual members" %}</h1>
  <p>
    {% blocktrans %}
      Individual Members are appointed by the DSF in recognition of their contribution to the DSF's mission of advancing and promoting Django, protecting the framework's long-term viability, and advancing the state of the art in web development.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans %}
      Contribution to the DSF's mission takes many forms.
      Here are some non-exhaustive examples of the categories of work that might qualify:
    {% endblocktrans %}
  </p>

  <ul>
    <li>
      {% blocktrans %}
        Contributing code, documentation, or tests to Django or to major third-party packages in the Django ecosystem.
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans %}
        Reviewing pull requests or triaging tickets on Django or a third-party app.
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans %}
        Creating learning resources (blogs, videos, etc.) for people to learn Django.
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans %}
        Contributing to discussionsin community areas such as the <a href="https://forum.djangoproject.com/">Django Forum</a> or <a href="https://discord.com/invite/xcRH6mN4fa">Discord</a>.
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans %}
        Being part of the organizing team for a Django community event.
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans %}
        Serving on a <a href="https://github.com/django/dsf-working-groups">DSF Working Group</a>
      {% endblocktrans %}
    </li>
  </ul>

  <p>
    {% blocktrans %}
      For more information about membership, see <a href="faq/">the DSF membership FAQ</a>.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans %}
      If you would like to apply for Individual Membership, please <a href="https://docs.google.com/forms/d/e/1FAIpQLSd5lbWxAO-sylEEjHVKBNIpmHlhdJRf0_LCo8glnLUWd-Q2Sw/viewform?usp=sf_link">fill out this form</a>.
      If you are unsure if you meet the criteria, but you would like to be a member, please apply anyway!
      You can also nominate others using the same form if you know someone who should be considered.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans %}
      As a member of the DSF, you will be recognized for your contributions to the community. Your name will appear below and you'll be added to the DSF Members Mailing list. You will also be eligible to vote for the DSF Board and Steering Council.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans %}
      The following are Individual Members of the Django Software Foundation.
    {% endblocktrans %}
  </p>

  <ul>
    {% for member in members %}
      <li>{{ member.name }}</li>
    {% endfor %}
  </ul>

  {% if former_members %}
    <h2>{% trans "Former members" %}</h2>
    <p>{% trans "The following are former Individual Members of the DSF." %}</p>

    <ul>
      {% for member in former_members %}
        <li>{{ member.name }} ({{ member.reason_for_leaving }})</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
