{% load static %}
{% load url from future %}

<div role="contentinfo">
  <div class="subfooter">
    <div class="container">
      <h1 class="visuallyhidden">Django Links</h1>

      <div class="col learn">
        <h2>Learn More</h2>
        <ul>
          <li><a href="http://www.djangoproject.com/overview/">About Django</a></li>
          <li><a href="http://www.djangoproject.com/foundation/">Django Software Foundation</a></li>
          {% comment %}<li><a href="{% url 'case_study_index' %}">Case Studies</a></li>{% endcomment %}
          <li><a href="http://www.djangoproject.com/start/">Getting Started with Django</a></li>
        </ul>
      </div>

      <div class="col involved">
        <h2>Get Involved</h2>
        <ul>
          <li><a href="http://www.djangoproject.com/community/">Join a Group</a></li>
          <li><a href="#">Find a Job</a></li>
          <li><a href="#">Submit a Bug</a></li>
          <li><a href="#">Report a Security Issue</a></li>
          <li><a href="#">Attend an Event</a></li>
        </ul>
      </div>

      <div class="col follow">
        <h2>Follow Us</h2>
        <ul>
          <li><a href="http://github.com/django">Github</a></li>
          <li><a href="https://twitter.com/djangoproject">Twitter</a></li>
          <li><a href="#">News &amp; Event RSS</a></li>
          <li><a href="https://docs.djangoproject.com/en/stable/internals/mailing-lists/#django-users">Django Users Mailing List</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="footer-logo">
        <a class="logo" href="http://www.djangoproject.com/">Django</a>
      </div>
      <ul class="thanks">
        <li><span>Hosting by</span> <a class="rackspace" href="http://rackspace.com">Rackspace</a></li>
        <li><span>Fonts Served by</span> <a class="typekit" href="https://typekit.com">Typekit</a></li>
        <li class="design"><span>Design by</span> <a class="threespot" href="http://www.threespot.com">Threespot</a> <span class="ampersand">&amp;</span> <a class="andrevv" href="http://andrevv.com/"></a></li>
      </ul>
      <p class="copyright">&copy; 2005-{% now "Y" %}
          <a href="http://www.djangoproject.com/foundation/"> Django Software
          Foundation</a> unless otherwise noted. Django is a
          <a href="http://www.djangoproject.com/trademarks/">registered
          trademark</a> of the Django Software Foundation.
      </p>
    </div>
  </div>

</div>
