{% extends "base_community.html" %}
{% load i18n %}

{% block content %}
  <h1>{% translate "Community" %}</h1>

  <h2 class="deck">{% blocktranslate %}Really delete {{ feed }}?{% endblocktranslate %}</h2>

  <p>
    {% blocktranslate trimmed %}
      We haven't implemented an undo feature yet, so all items will be deleted immediately.
    {% endblocktranslate %}
  </p>

  <form class="wide" action="." method="post">
    {% csrf_token %}
    <p class="submit"><input class="cta" type="submit" value="{% translate "Yes, delete the feed." %}"></p>
  </form>
{% endblock %}
