{% extends "base_community.html" %}
{% load i18n %}

{% block content %}


  <h1>Django's Ecosystem</h1>

  <p>Django's <em>Secret Sauce</em> is its ecosystem of third-party apps and add-ons.</p>
  <p>No matter your need, there'll be a package you can use or take ideas from.</p>

  <h2>Resources</h2>

    <!-- Name, Short Description, Link — Roughly this order       -->
  <ul>
    <li>Awesome Django</li>
    <li>Django Packages Jazzband</li>
    <li>Django Commons</li>
    <li>Django News </li>
    <li>DjangoChat Podcast </li>
    <li>DjangoBrew Podcast</li>
    <li>DjangoGirls Podcast</li>
    <li>DjangoBook.com</li>
    <li>DCUS YouTube </li>
    <li>DCEU You Tube</li>
    <li>Django.tv</li>
    <li>(official Django social accounts)</li>
  </ul>


  <p>Explore! A whole world awaits you.</p>


  <h2>Packages</h2>

  <p>We could never list everything but here are some packages that we like to get you started</p>


  <!--  Name, Short Description, Code/GH link, Does Link — Alphabetical -->
  <ul>
    <li>Django-AllAuth</li>

    <li>...</li>


    <li>Wagtail</li>

  </ul>


{% endblock %}
