{% extends "base_community.html" %}
{% load i18n %}

{% block content %}

<h2>{% translate "Forum" %}</h2>
{% include "includes/forum.html" %}

<h2>{% translate "Mailing lists" %}</h2>
{% include "includes/mailing_lists.html" %}

<div class="list-collapsing-header">
  <h2>{% translate "Django RSS feeds" %}</h2>
</div>

<ul class="list-collapsing">

{% for feedtype, latest_feeds in feedtype_list %}
  <li id="{{ feedtype.slug }}">
    <h2 class="bullet-icon"><i class="icon icon-rss blue"></i> {{ feedtype.name }}</h2>
    <div class="collapsing-content">
      <dl class="list-links">
        {% for item in latest_feeds %}
            <dt><a href="{{ item.link }}">{{ item.title }}</a></dt>
            <dd>{{ item.date_modified|date:"N jS, Y \a\t P" }} by <a href="{{ item.feed.public_url }}">{{ item.feed.title }}</a></dd>
        {% endfor %}
      </dl>
      <p class="meta">
        {% if feed_type.list %}
          <a href="{% url 'community-feed-list' feed_type.grouper.slug %}">{% translate "View more" %}</a>
        {% endif %}
        {% if feed_type.list and feed_type.grouper.can_self_add %}
          {% translate "or" %}
        {% endif %}
        {% if feed_type.grouper.can_self_add %}
          <a href="{% url 'community-add-feed' feed_type.grouper.slug %}">{% translate "Add your feed" %}</a>
        {% endif %}
      </p>
    </div>
  </li>
{% endfor %}

</ul>

{% endblock %}
