{% extends "base_community.html" %}

{% block content %}

{#  Group meetups by country and then by location #}
  {% regroup django_communities|dictsort:"continent" by continent as grouped_django_communities %}


  <h2>Local Django Communities</h2>

  {% if grouped_django_communities %}<h3 id="table-of-contents">Table of contents<a class="plink" href="#table-of-contents"> ¶</a></h3>{% endif %}
  <ul>
    {% for local_django_community in grouped_django_communities %}
      <li><a href="#{{ local_django_community.grouper.title | lower }}-meetups">{{ local_django_community.grouper.title }}</a></li>
    {% endfor %}
  </ul>


  {% for local_django_community in grouped_django_communities %}
    <div id="{{ local_django_community.grouper.title | lower }}-meetups" class="section">
      <h2>{{ local_django_community.grouper.title }} <a class="plink" href="#{{ local_django_community.grouper.title | lower }}-meetups">¶</a></h2>
      <ul>
        {% for django_community in local_django_community.list %}
          <ul>
            <img src={{ django_community.og_image }} />
            <h3 id="{{ django_community.slug }}-meetup">{{ django_community.name }} <a class="plink" href="#{{ django_community.slug }}-meetup">¶</a></h3>
            <p class="meta">{{ django_community.city }}, {{ django_community.country }} &nbsp;
              {% if django_community.is_active %}
                Active
              {% else %}
                Inactive
              {% endif %}
            </p>
            <p>{{ django_community.description|safe }}</p>
            <p>
              {% if django_community.website_url %}
                <a href="{{ django_community.website_url }}">Community Website</a> &nbsp;
              {% endif %}
              {% if django_community.event_site_url %}
                <a href="{{ django_community.event_site_url }}">Event Website</a>
              {% endif %}
            </p>
          </ul>
        {% endfor %}
      </ul>
    </div>
  {% empty %}
    Local Django communities are coming soon. Please check back later.

  {% endfor %}
  
  <a href="{% url 'local-django-communities-add' %}">Add your local community</a>
  
{##}
{% endblock %}
