<form action="{% url "contact_coc" %}" method="post" accept-charset="utf-8" class="wide">
{% csrf_token %}

{# hardcoding inputs because they'll be included on the CoC page itself #}
  <p>
    <label for="id_name">Your name (optional):</label>
    {% if form.name.errors %}<p class="errors">{{ form.name.errors.as_text }}</p>{% endif %}
    <input id="id_name" class="required" type="text" name="name">
  </p>
  <p>
    <label for="id_email">Your email address (optional):</label>
    {% if form.email.errors %}<p class="errors">{{ form.email.errors.as_text }}</p>{% endif %}
    <input id="id_email" class="required" type="text" name="email">
  </p>
  <p>
    <label for="id_body">Your message:</label>
    {% if form.body.errors %}<p class="errors">{{ form.body.errors.as_text }}</p>{% endif %}
    <textarea id="id_body" class="required" rows="10" name="body" cols="40"></textarea>
  </p>
  <p class="submit"><input type="submit" value="Send &rarr;"></p>

</form>
