{% extends "base_foundation.html" %}
{% load i18n %}

{% block title %}{% translate "Message sent" %}{% endblock %}

{% block content %}
  <h1>{% translate "Message sent" %}</h1>
  <h2 class="deck">{% translate "Your message has been sent; thanks!" %}</h2>
  <p>
    {% blocktranslate trimmed %}
      Your mail <em>will</em> be read by a real, live human being. We can't
      guarantee when or whether you'll get a reply, but your message
      <em>will</em> be read, generally within the next couple of days.
    {% endblocktranslate %}
  </p>
  <p>
    {% blocktranslate trimmed %}
      If you're expecting a reply and don't get one, please feel free
      to send a reminder. Please wait a few days, however, unless
      it's an emergency.
    {% endblocktranslate %}
  </p>
{% endblock %}
