{% extends "base_foundation.html" %}

{% block title %}Message sent{% endblock %}

{% block content %}
  <h1>Message sent</h1>
  <h2 class="deck">Your message has been sent; thanks!</h2>
  <p>
    Your mail <em>will</em> be read by a real, live human being. We can't
    guarantee when or whether you'll get a reply, but your message
    <em>will</em> be read, generally within the next couple of days.
  </p>
  <p>
    If you're expecting a reply and don't get one, please feel free
    to send a reminder. Please wait a few days, however, unless
    it's an emergency.
  </p>
{% endblock %}
