{% extends "base_community.html" %}

{% block content %}

  <h2>Mailing lists</h2>
  <div class="layout-2col">
  	<div class="col form-email">
  		<h3><a href="http://groups.google.com/group/django-users">django-users</a></h3>
  		<p class="meta">Get help with Django and follow announcements.</p>
  		<form class="form-input" action="http://groups.google.com/group/django-users/boxsubscribe">
  			<input type="email" name="email" placeholder="Enter Email">
  			<button type="submit">
  				<i class="icon icon-envelope-o"></i>
  				<span class="visuallyhidden">Subscribe</span>
  			</button>
  		</form>
  	</div>
  	<div class="col form-email">
  		<h3><a href="http://groups.google.com/group/django-developers">django-developers</a></h3>
  		<p class="meta">Contribute to the development of Django itself.</p>
  		<form class="form-input" action="http://groups.google.com/group/django-developers/boxsubscribe">
  			<input type="email" name="email" placeholder="Enter Email">
  			<button type="submit">
  				<i class="icon icon-envelope-o"></i>
  				<span class="visuallyhidden">Subscribe</span>
  			</button>
  		</form>
  	</div>
  </div>

  <div class="list-collapsing-header">
	<h2>Django RSS feeds</h2>
</div>

<ul class="list-collapsing">

  {% for feedtype, latest_feeds in feedtype_list %}
	<li id="{{ feedtype.slug }}">
		<h2 class="bullet-icon"><i class="icon icon-rss blue"></i> {{ feedtype.name }}</h2>
		<div class="collapsing-content">
			<dl class="list-links">
        {% for item in latest_feeds %}
				    <dt><a href="{{ item.link }}">{{ item.title }}</a></dt>
				    <dd>{{ item.date_modified|date:"N jS, Y \a\t P" }} by <a href="{{ item.feed.public_url }}">{{ item.feed.title }}</a></dd>
        {% endfor %}
			</dl>
			<p class="meta">
        {% if latest_feeds %}
          <a href="{% url 'community-feed-list' feedtype.slug %}">View more</a>
        {% endif %}
        {% if latest_feeds and feedtype.can_self_add %}
          or
        {% endif %}
        {% if feedtype.can_self_add %}
          <a href="{% url 'community-add-feed' feedtype.slug %}">Add your feed</a>
        {% endif %}
      </p>
		</div>
	</li>
  {% endfor %}

</ul>

{% endblock %}
