{% extends "base_community.html" %}

{% block content-related %}
<h2>Django Community Code of Conduct</h2>

<ul>
<li><a href="/conduct/">Code of Conduct</a></li>
<li><a href="/conduct/faq/">Frequently Asked Questions</a></li>
<li><a href="/conduct/reporting/">Reporting Guide</a></li>
<li><a href="/conduct/enforcement-manual/">Enforcement Manual</a></li>
</ul>

{% endblock %}

{% block title %}Django Code of Conduct - DRAFT{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <style type="text/css">
    h3 a.plink { display: none; }
    h3:hover a.plink { display: inline; }
    p.message {
      background-color: #ffe761;
      padding: 8px;
    }
  </style>
{% endblock extrahead %}
