{% if is_paginated %}
<div class="pagination">
  <ul class="nav-pagination" role="navigation">
    {% if page_obj.has_previous %}
    <li><a class="previous" href="?page={{ page_obj.previous_page_number }}">
      <i class="icon icon-chevron-left"></i>
      <span class="visuallyhidden">Previous</span>
    </a></li>
    {% endif %}
    <span class="page-current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
    <li><a class="next" href="?page={{ page_obj.next_page_number }}">
      <i class="icon icon-chevron-right"></i>
      <span class="visuallyhidden">Next</span>
    </a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
