{% extends "base_foundation.html" %}
{% load i18n %}

{% block content %}
  <h1>{% trans "Individual members" %}</h1>
  <p>
    {% blocktrans %}
      The following are Individual Members of the Django Software Foundation. Individual Members
      are appointed by the DSF in recognition of their service to the Django community. If you
      know someone who you think should be considered for Individual Membership, please
    {% endblocktrans %}
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd5lbWxAO-sylEEjHVKBNIpmHlhdJRf0_LCo8glnLUWd-Q2Sw/viewform?usp=sf_link">{% trans "fill out this form" %}</a>.
  </p>
  <ul>
    {% for member in members %}
      <li>{{ member.name }}</li>
    {% endfor %}
  </ul>

  {% if former_members %}
    <h2>{% trans "Former members" %}</h2>
    <p>{% trans "The following are former Individual Members of the DSF." %}</p>

    <ul>
      {% for member in former_members %}
        <li>{{ member.name }} ({{ member.reason_for_leaving }})</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
