{% extends 'base_error.html' %}
{% load i18n %}

{% block title %}{% translate "Page not found" %}{% endblock %}

{% block header %}<h1>404</h1>{% endblock %}

{% block content %}
  <h2>{% translate "Page not found" %}</h2>

  <p>
    {% blocktranslate trimmed %}
      Looks like you followed a bad link. If you think it's our fault, please
      <a href="https://code.djangoproject.com/">let us know</a>.
    {% endblocktranslate %}</p>

  {% url 'homepage' as homepage_url %}
  <p>
    {% blocktranslate trimmed %}
      Here's a link to the <a href="{{ homepage_url }}">homepage</a>. You know, just in case.
    {% endblocktranslate %}</p>

{% endblock %}
