{% extends 'base_error.html' %}
{% load i18n %}

{% block title %}{% translate "Page removed" %}{% endblock %}

{% block header %}<h1>410</h1>{% endblock %}

{% block content %}
<h2>{% translate "Page removed." %}</h2>

<p>
{% url 'homepage' host 'docs' with docs_url %}
{% blocktranslate wit %}
  Sorry, we've removed some of parts of the site that were completely out
  of date. In most cases, that content has been moved into
  <a href="{{ docs_url }}">the new documentation site</a>.
{% endblocktranslate %}
</p>

{% url 'homepage' with home_url %}
<p>{% blocktranslate %}Here's a link to the <a href="{{ home_url }}">homepage</a>. You know, just in case.{% endblocktranslate %}</p>

{% endblock %}
