{% extends 'base_error.html' %}
{% load i18n %}

{% block title %}{% translate "Page unavailable" %}{% endblock %}

{% block header %}<h2>500</h2>{% endblock %}

{% block content %}
    <h1>{% translate "Page unavailable" %}</h1>

    <p>{% translate "We're sorry, but the requested page is currently unavailable." %}</p>

    <p>{% translate "We're messing around with things internally, and the server had a bit of a hiccup." %}</p>

    <p>{% translate "Please try again later." %}</p>
{% endblock %}
