{% extends "base.html" %}
{% load fundraising_extras i18n %}

{% block og_title %}Django Community{% endblock %}
{% block og_description %}Building the Django Community. Come join us!{% endblock %}

{% block layout_class %}sidebar-right{% endblock %}
{% block title %}{% translate "Django Community" %}{% endblock %}

{% block header %}
  <h1 class="visuallyhidden">{% translate "Community" %}</h1>
  {% if community_stats and community_stats.age %}
    {% blocktranslate trimmed with age=community_stats.age %}
      <p>Building the <em>Django</em> Community {% if age %} for <em>{{ age }}</em>{% endif %}. Come join us!</p>
    {% endblocktranslate %}
  {% else %}
    <p>{% blocktranslate %}Building the <em>Django</em> Community. Come join us!{% endblocktranslate %}</p>
  {% endif %}
{% endblock %}

{% block content-related %}
<h1 class="visuallyhidden">{% translate "Additional Information" %}</h1>
<div role="complementary">
  {% donation_snippet %}

  <h2>{% translate "Get Involved" %}</h2>
  <dl class="list-links">
    <dt><a href="https://code.djangoproject.com/">{% translate "Ticket system" %}</a></dt>
    <dd>{% translate "report bugs and make feature requests" %}</dd>
    <dt><a href="https://dashboard.djangoproject.com/">{% translate "Development dashboard" %}</a></dt>
    <dd>{% translate "see what's currently being worked on" %}</dd>
  </dl>
  <h2>{% translate "Get Help" %}</h2>
  <dl class="list-links">
    <dt><a href="{% url 'document-detail' lang='en' version='stable' url='faq' host 'docs' %}">{% translate "Check our FAQ first." %}</a></dt>
    <dd>{% translate "Try the FAQ — it's got answers to many common questions." %}</dd>
    <dt><a href="irc://irc.libera.chat/django">{% translate "#django IRC channel" %}</a></dt>
    <dd>{% translate "chat with other Django users" %}</dd>
    <dt><a href="https://discord.gg/xcRH6mN4fa" target="_blank">{% translate "Django Discord Server" %}</a></dt>
    <dd>{% translate "Join the Django Discord Community" %}</dd>
    <dt><a href="https://forum.djangoproject.com/" target="_blank">{% translate "Official Django Forum" %}</a></dt>
    <dd>{% translate "Join the community on the Django Forum." %}</dd>
  </dl>

  <h2>{% translate "Tell the World" %}</h2>
  <dl class="list-links">
    <dt><a href="https://www.djangopackages.com/">{% translate "Django-based packages" %}</a></dt>
    <dd>{% translate "find Django based projects and packages" %}</dd>
    <dt><a href="https://www.djangosites.org/">{% translate "Django-powered sites" %}</a></dt>
    <dd>{% translate "add your site to the list" %}</dd>
    <dt><a href="/community/badges/">{% translate "Django badges" %}</a></dt>
    <dd>{% translate "show your support (or wish longingly)" %}</dd>
    <dt><a href="/community/logos/">{% translate "Django logos" %} </a></dt>
    <dd>{% translate "download official logos" %}</dd>
    <dt><a href="/community/desktops/">{% translate "Django wallpaper" %}</a></dt>
    <dd>{% translate "cover your desktop" %}</dd>
  </dl>
  <h2>{% translate "Improve Django" %}</h2>
  <dl class="list-links">
    <dt><a href="https://groups.google.com/group/django-updates">{% translate "django-updates mailing list" %}</a></dt>
    <dd>{% translate "get updated for each code and ticket change (for the super-obsessed)" %}</dd>
    <dt><a href="https://code.djangoproject.com/wiki">{% translate "Django wiki" %}</a></dt>
    <dd>{% translate "contribute tips and documentation" %}</dd>
  </dl>
</div>
{% endblock %}
