{% extends "base.html" %}

{% block html_language_code %}{{ lang|default:"en" }}{% endblock %}

{% block title %}Django Documentation{% endblock %}

{% block header %}
  <h1><a href="{% block doc_url %}{% url 'homepage' %}{% endblock %}">Documentation</a> &ndash; <a href="https://www.jetbrains.com/pycharm/promo/support-django/?utm_source=djangoproject.com&utm_medium=link&utm_campaign=support-django-2018">Until November 1, get PyCharm at 30% off. All money goes to the DSF!</a></h1>
{% endblock %}

{% block layout_class %}sidebar-right{% endblock %}
