{% extends "flatpages/foundation.html" %}

{% block title %}Thanks for your support!{% endblock %}

{% block content %}
  <h1>Thanks for your support!</h1>
  <h2 class="deck">Thank you for supporting Django. If you like, you can use one of the badges below to show your support and help us bring in other donors.</h2>

  <p>Copy and paste the source below each image to link to our donation page.</p>

  <h3><a href="https://www.djangoproject.com/foundation/donate/"><img src="https://www.djangoproject.com/s/img/badges/djangodonated126x54.gif" border="0" alt="I donated to Django" width="126" height="54" /></a></h3>

  <p><textarea rows="3" cols="60" class="codedump"><a href="https://www.djangoproject.com/foundation/donate/"><img src="https://www.djangoproject.com/s/img/badges/djangodonated126x54.gif" border="0" alt="I donated to Django" width="126" height="54" /></a></textarea><br /><strong>126x54</strong> I donated to Django (green)</p>

  <h3><a href="https://www.djangoproject.com/foundation/donate/"><img src="https://www.djangoproject.com/s/img/badges/djangodonated126x54_grey.png" border="0" alt="I donated to Django" width="126" height="54" /></a></h3>

  <p><textarea rows="3" cols="60" class="codedump"><a href="https://www.djangoproject.com/foundation/donate/"><img src="https://www.djangoproject.com/s/img/badges/djangodonated126x54_grey.png" border="0" alt="I donated to Django" width="126" height="54" /></a></textarea><br /><strong>126x54</strong> I donated to Django (grey)</p>
{% endblock %}
