{% extends "flatpages/foundation.html" %}
{% load i18n %}

{% block title %}{% translate "Thanks for your support!" %}{% endblock %}

{% block content %}
  <h1>{% translate "Thanks for your support!" %}</h1>
  <h2 class="deck">
    {% blocktranslate trimmed %}
      Thank you for supporting Django. If you like, you can use one of the badges below to show your support and help us bring in other donors.
    {% endblocktranslate %}
  </h2>

  <p>{% translate "Copy and paste the source below each image to link to our donation page." %}</p>

  <h3><a href="https://www.djangoproject.com/foundation/donate/"><img src="https://www.djangoproject.com/s/img/badges/djangodonated126x54.gif" border="0" alt="{% translate "I donated to Django" %}" width="126" height="54" /></a></h3>

  <p>
    <textarea rows="3" cols="60" class="codedump">
      <a href="https://www.djangoproject.com/foundation/donate/">
        <img src="https://www.djangoproject.com/s/img/badges/djangodonated126x54.gif" border="0" alt="{% translate "I donated to Django" %}" width="126" height="54" />
      </a>
    </textarea>
    <br /><strong>126x54</strong> {% translate "I donated to Django (green)" %}</p>

  <h3>
    <a href="https://www.djangoproject.com/foundation/donate/">
      <img src="https://www.djangoproject.com/s/img/badges/djangodonated126x54_grey.png" border="0" alt="{% translate "I donated to Django" %}" width="126" height="54" />
    </a>
  </h3>

  <p>
    <textarea rows="3" cols="60" class="codedump">
      <a href="https://www.djangoproject.com/foundation/donate/">
        <img src="https://www.djangoproject.com/s/img/badges/djangodonated126x54_grey.png" border="0" alt="{% translate "I donated to Django" %}" width="126" height="54" />
      </a>
    </textarea>
    <br /><strong>126x54</strong> {% translate "I donated to Django (grey)" %}
  </p>
{% endblock %}
