{% extends "base_3col.html" %}
{% load weblog fundraising_extras %}

{% block sectionid %}homepage{% endblock %}
{% block body_class %}homepage{% endblock %}
{% block layout_class %}sidebar-right{% endblock %}

{% block header %}
  <h1 class="visuallyhidden">Django</h1>
    <p>
        <em>Django makes it easier to build better Web apps more quickly and with less code.</em>
    </p>
    <p>
        <a href="{% url 'start' %}" class="cta">Get started with Django</a>
    </p>
{% endblock %}

{% block content %}
    <div class="section">
        <h1>Meet Django</h1>
        <p>
          Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.
          Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus
          on writing your app without needing to reinvent the wheel. It’s free and open source.
        </p>
        <dl class="list-features">
          <dt><i class="icon icon-bolt"></i> Ridiculously fast.</dt>
          <dd>
            <p>Django was designed to help developers take applications from concept to completion as quickly as possible.</p>
          </dd>

          <dt><i class="icon icon-lock"></i> Reassuringly secure.</dt>
          <dd>
            <p>Django takes security seriously and helps developers avoid many common security mistakes.</p>
          </dd>

          <dt><i class="icon icon-dashboard"></i> Exceedingly scalable.</dt>
          <dd>
            <p>Some of the busiest sites on the Web leverage Django’s ability to quickly and flexibly scale.</p>
          </dd>
        </dl>

        <a href="{% url 'overview' %}" class="cta outline">Learn more about Django</a>
    </div>

    {% comment %}

    <div class="section">
        <h1>Who is Django for?</h1>

        <p>
          You’ve probably used a site that uses Django. Find out why Django was the right solution for these organizations, and why you should start building your project with Django today.
        </p>

        <ul class="list-case-study">
          <li>
            <h3 class="logo" title="Mozilla">Mozilla</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
            <a href="{% url 'case_study' %}">Read Case Study</a>
          </li>
          <li>
            <h3 class="logo" title="Disqus">Disqus</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="{% url 'case_study' %}">Read Case Study</a>
          </li>
          <li>
            <h3 class="logo" title="Knight Foundation">Knight Foundation</h3>
            <p>When the Knight Foundation began redesigning their <a href="https://www.knightfoundation.org">site</a>, they were on multiple content management systems they’d outgrown, with a site that couldn’t handle traffic spikes. Knight needed a future-proof solution.</p>
            <a href="{% url 'case_study' %}">Read Case Study</a>
          </li>
        </ul>

        <a href="{% url 'case_study_index' %}" class="cta outline">See all case studies</a>

    </div>

    {% endcomment %}

    <div class="section">
    <h1>Stay in the loop</h1>
    <p>Subscribe to one of our mailing lists to stay up to date with everything in the Django community:</p>
    {% include "includes/mailing_lists.html" %}
    </div>

    <!-- END #content-secondary -->
{% endblock %}

{% block content-related %}
  <div role="complementary">
      <a href="{% url 'download' %}" class="cta">
          Download <em>latest release: {{ DJANGO_VERSION }}</em>
      </a>
      <a href="{% block doc_url %}{% url 'homepage' host 'docs' %}{% endblock %}" class="link-readmore">Django documentation</a>

      {% donation_snippet %}

      <h3>Latest news</h3>
      {% render_latest_blog_entries 2 hide_readmore=True summary_first=True header_tag='h4' %}
      <a href="{% url 'weblog:index' %}" class="link-readmore">More news</a>

      <h3>New to Django?</h3>
      <ul class="list-links-small docs-list">
          <li><a href="{% url 'document-detail' lang='en' version='stable' url='intro/install' host 'docs' %}">Installation guide</a></li>
          <li><a href="{% url 'document-detail' lang='en' version='stable' url='intro/tutorial01' host 'docs' %}">Write your first Django app</a></li>
      </ul>
      <a href="{% url 'start' %}" class="link-readmore">Getting started with Django</a>

      <h3>The power of Django</h3>
      <ul class="list-links-small docs-list">
          <li><a href="{% url 'document-detail' lang='en' version='stable' url='topics/db/models' host 'docs' %}">Object-relational mapper</a></li>
          <li><a href="{% url 'document-detail' lang='en' version='stable' url='intro/tutorial02' host 'docs' %}">Automatic admin interface</a></li>
          <li><a href="{% url 'document-detail' lang='en' version='stable' url='topics/templates' host 'docs' %}">Robust template system</a></li>
          <li><a href="{% url 'document-detail' lang='en' version='stable' url='topics/i18n' host 'docs' %}">Quick internationalization</a></li>
      </ul>
      <a href="{% url 'overview' %}" class="link-readmore">Explore more features</a>

      <h3>Get involved</h3>
      <dl class="list-links-small">
         <dt><a href="irc://irc.freenode.net/django">#django IRC channel</a></dt>
          <dd>
            Chat with other Django users
          </dd>

          <dt><a href="https://code.djangoproject.com/">Ticket system</a></dt>
          <dd>
            Report bugs and make feature requests
          </dd>
      </dl>
      <a href="{% url 'community-index' %}" class="link-readmore">Inside the Django community</a>

      <h3>The Django Software Foundation</h3>
      <dl class="list-links-small">
        <dt><a href="/foundation/">About the Foundation</a></dt>
        <dd>
          Our non-profit supports the project
        </dd>

        <dt><a href="/foundation/donate/">Support Django</a></dt>
        <dd>
          Your contribution makes Django stronger
        </dd>

        <dt><a href="/contact/foundation/">Contact the Django Software Foundation</a></dt>
        <dd></dd>
      </dl>
      <a href="/foundation/" class="link-readmore">More about the DSF</a>
      {% comment %}
      <h3>Upcoming Events</h3>
      <dl class="list-links-small news-list">
        <dt class="event"><a href="#">DjangoCon 2013 Call for Papers</a></dt>
        <dd>
          April 7th, 2013 | Berlin, Germany
        </dd>

        <dt class="event"><a href="#">DjangoCon 2013 Call for Papers</a></dt>
        <dd>April 7th, 2013 | Berlin, Germany</dd>
      </dl>
      <a href="{% url 'weblog:index' %}" class="link-readmore">See all Events</a>
      {% endcomment %}
  </div>

{% endblock %}

{% block alert %}
  {% comment %}
  <div role="alert">
    <div class="container">
      <dl>
        <dt>
          <i class="icon icon-bullhorn"></i>
          <a href="#">Django Fundraising Drive 2014</a>
        </dt>
        <dd>
          The quickest &amp; most fun way to support Django.
          <a href="#" class="link-readmore">Learn more</a>
        </dd>
      </dl>
    </div>
  </div>
  {% endcomment %}
{% endblock %}
