/* A few fixups */

#content-main .jump_links { font-size: 1.2em; margin-left: 0px; }
.synopsis { padding-left: 10px; color: #222;}

/* Search form - sidebar */
#sidebar_search #id_sidebar_search_q { width: 100%; }

/* Search form - search page */
#page_search { font-size: 150%; margin-top: 1.4em; margin-bottom: 1em; color: #092E20; }
#page_search .submit { float: right; font-size: 150%; }

/* Search results */
#search-results span.highlighted { background-color: #ffe761; font-weight: bold; }
