{% extends "base_dashboard.html" %}
{% load i18n %}

{% block content %}
  <div class="dashboard-index">
    {% for metric in data %}
      {% ifchanged metric.category %}
        {% if metric.category %}<h2>{{ metric.category }}</h2>{% endif %}
      {% endifchanged %}
      <div class="metric{% if metric.show_sparkline %} has-sparkline{% endif %}">
        <h3><a href="{{ metric.link }}">{{ metric.name }}</a></h3>
        <div class="value" >
          <a href="{{ metric.get_absolute_url }}">{{ metric.latest.measurement }}{% if metric.unit == "%" %}%{% endif %}</a>
          <div class="timestamp">&nbsp;</div>
        </div>
        {% if metric.show_sparkline %}
          <div class="sparkline" id="spark{{ forloop.counter0 }}" data-path="{% url "metric-list" host "dashboard" %}" data-metric="{{ metric.slug }}"></div>
        {% endif %}
      </div>
    {% endfor %}
    {% if last_updated %}
      <p class="updated">
        {% blocktranslate with timestamp=last_updated|timesince %}Updated {{ timestamp }} ago.{% endblocktranslate %}
      </p>
    {% endif %}
  </div>
{% endblock %}
