{% load i18n %}
{% translate "Hello!" %}

{% translate "Thank you for making a donation to the Django Software Foundation." %}


{% blocktranslate trimmed %}
    Your support is invaluable to continue the rapid development of Django and helps the Django Fellowship program in particular.
{% endblocktranslate %}

{% blocktranslate trimmed %}
    If you want to change information about your donation, you can do so by accessing the link below:
{% endblocktranslate %}
{% url 'fundraising:manage-donations' donation.donor.pk %}

{% blocktranslate trimmed %}
    Best regards,
    Django Software Foundation
{% endblocktranslate %}
