{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ROBOTS" content="ALL" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="Copyright" content="Django Software Foundation" />
    <meta name="keywords" content="Python, Django, framework, open-source" />
    <meta name="description" content="{% block description %}{% endblock %}" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{% static "img/icon-touch.png" %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    <meta name="msapplication-TileColor" content="#113228">
    <meta name="msapplication-TileImage" content="{% static "img/icon-tile.png" %}">

    <title>{% block title %}The Web framework for perfectionists with deadlines{% endblock %} | Django</title>

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static "css/output-ie.css" %}" >
     <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{% static "css/output.css" %}" >
    <!--<![endif]-->
    {# <script src="{% static "js/lib/webfont.js" %}"></script> #}
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.6/webfont.js"></script>
    <script>
    WebFont.load({
        custom: {
            families: ['Colfax']
        },
        google: {
            families: ['Droid Sans Mono', 'Roboto:300,400,700:latin']
        }
    });
    </script>
    <script src="{% static "js/lib/modernizr.js" %}"></script>
  </head>

  <body id="{% block sectionid %}generic{% endblock %}" class="{% block body_class %}{% endblock %}">

    {% block navigation %}
      {% include "includes/header.html" %}
    {% endblock %}

    <div class="copy-banner">
      <div class="container">
        {% block header %}{% endblock %}
      </div>
    </div>
    <div id="billboard">{% block billboard %}{% endblock %}</div>

    <div class="container {% block layout_class %}{% endblock %}">
      <div role="main">
        {% block content %}{% endblock %}
        <a href="#top" class="backtotop"><i class="icon icon-chevron-up"></i> Back to Top</a>
      </div>

      {% block content-related %}{% endblock %}
      {% block content-extra %}{% endblock %}

    </div>

    {% block secondary %}{% endblock %} {# Used only with one column pages: Why Django, Get Started, etc #}
    {% block tertiary %}{% endblock %} {# Used only with one column pages: Why Django, Get Started, etc #}

    {# Used to display urgent news, events, and alerts #}
    {% block alert %}
    {% endblock %}

    {% block extrabody %}{% endblock extrabody %}

    {% block footer %}
      {% include "includes/footer.html" %}
    {% endblock %}

    {# Require JS #}
    <script data-main="{% static "js/main.js" %}" src="{% static "js/lib/require.js" %}"></script>

  </body>
</html>
