{% extends "base_3col.html" %}
{% load staticfiles %}

{% block basecss %}
<link href="{% static "css/homepage.css" %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock basecss %}

{% block sectionid %}homepage{% endblock %}
{% block body_class %}homepage{% endblock %}
{% block layout_class %}sidebar-right{% endblock %}

{% block header %}
  <h1 class="visuallyhidden">Django</h1>
  <p>
    <em>Django makes it easier to build better Web apps quicker and with less code</em>
  </p>
  <p>
    <a href="" class="cta">Get Started with Django</a>
  </p>
  {% comment %}
  <p class="small">
    Used by these great companies, and many more
    <ul class="django-companies">
      <li><a href="{% url 'case_study' %}" class="company-mozilla">Mozilla</a></li>
      <li><a href="{% url 'case_study' %}" class="company-pinterest">Pinterest</a></li>
      <li><a href="{% url 'case_study' %}" class="company-theguardian">The Guardian</a></li>
      <li><a href="{% url 'case_study' %}" class="company-instagram">Instagram</a></li>
      <li><a href="{% url 'case_study' %}" class="company-rdio">Rdio</a></li>
    </ul>
    {% endcomment %}
  </p>
{% endblock %}
{% block content %}
<h1>Meet Django</h1>
<h2 class="deck">Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.</h2>
<p>Developed by a fast-moving online-news operation, Django was designed to handle two challenges: the intensive deadlines of a newsroom and the stringent requirements of the experienced Web developers who wrote it. It lets you build high-performing, elegant Web applications quickly.</p>
<p>Django focuses on automating as much as possible and adhering to the <a href="http://c2.com/cgi/wiki?DontRepeatYourself"><abbr title="Don't Repeat Yourself">DRY</abbr> principle</a>.</p>
<p>Dive in by <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/intro/overview/">reading the overview &rarr;</a></p>
<p>When you're ready to code, read the <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/intro/install/">installation guide</a> and <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/intro/tutorial01/">tutorial</a>.</p>
<div id="content-secondary">
	<h2>The Django framework</h2>
    <dl class="list-features">
      <dt><i class="icon icon-database"></i> Object-relational mapper</dt>
      <dd>
	    <p>Define your <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/topics/db/models/">data models</a> entirely in Python. You get a rich, <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/topics/db/queries/">dynamic database-access API</a> for free &mdash; but you can still write SQL if needed.</p>
      </dd>

      <dt><i class="icon icon-user"></i> Automatic admin interface</dt>
      <dd>
	    <p>Save yourself the tedious work of creating interfaces for people to add and update content. <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/intro/tutorial02/">Django does that automatically</a>, and it's production-ready.</p>
      </dd>

      <dt><i class="icon icon-link"></i> Elegant URL design</dt>
      <dd>
	    <p>Design pretty, <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/topics/http/urls/">cruft-free URLs</a> with no framework-specific limitations. Be as flexible as you like.</p>
      </dd>
      
      <dt><i class="icon icon-newspaper-o"></i> Template system</dt>
      <dd>
	    <p>Use Django's powerful, extensible and designer-friendly <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/topics/templates/">template language</a> to separate design, content and Python code.</p>
      </dd>
      
      <dt><i class="icon icon-dashboard"></i> Cache system</dt>
      <dd>
	    <p>Hook into memcached or other cache frameworks for <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/topics/cache/">super performance</a> &mdash; caching is as granular as you need.</p>
      </dd>
      
      <dt><i class="icon icon-language"></i> Internationalization</dt>
      <dd>
        <p>Django has full support for <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/topics/i18n/">multi-language applications</a>, letting you specify translation strings and providing hooks for language-specific functionality.</p>
      </dd>

    </dl>

</div>
<!-- END #content-secondary -->
{% endblock %}

{% block content-related %}

  <div role="complementary">
<a href="/download/" class="cta">
  Download <em>Latest Release {{ DJANGO_VERSION }}</em>
</a>
<a href="https://docs.djangoproject.com{% block doc_url %}/{% endblock %}" class="link-readmore">Django Documentation</a>

<p>Open source, <a href="https://github.com/django/django/blob/master/LICENSE">BSD license</a></p>
    
<h3>Documentation</h3>
<ul class="list-links-small docs-list">
	<li><a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/intro/install/">Installation guide</a></li>
	<li><a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/intro/tutorial01/">Tutorial</a></li>
</ul>
<a class="link-readmore" href="https://docs.djangoproject.com/">Full index</a>

<h3>Sites that use Django</h3>
<dl>
    <dt><a href="http://www.disqus.com/">Disqus</a></dt>
    <dd>Beautiful, real-time, engaging comments threads for your website.</dd>
    <dt><a href="http://instagram.com/">Instagram</a></dt>
    <dd>A fast, beautiful and fun photo-sharing app for iOS and Android.</dd>
    <dt><a href="http://www.mozilla.org/">Mozilla</a></dt>
    <dd>Makers of Firefox, and defenders of the openness, innovation, and opportunity on the web.</dd>
    <dt><a href="http://www.openstack.org/">OpenStack</a></dt>
    <dd>Open source software for building private and public clouds.</dd>
    <dt><a href="http://pinterest.com/">Pinterest</a></dt>
    <dd>Pinterest is a virtual pinboard to share beautiful things you find on the web.</dd>
    <dt><a href="http://www.politifact.com/">PolitiFact.com</a></dt>
    <dd>The Pulitzer Prize-winning fact-checking site.<dd>
    <dt><a href="http://www.rdio.com/">Rdio</a></dt>
    <dd>Your music library in the cloud.<dd>
</dl>
<p><a href="http://www.djangosites.org/">See more sites...</a></p>
</div>
{% endblock %}

{% block content-extra %}
<div role="complementary">
    <h3>Weblog</h3>
    {% load weblog %}{% render_latest_blog_entries 4 %}
</div>
{% endblock %}
