{% extends "base_3col.html" %}

{% block cssid %}homepage{% endblock %}

{% block sectionid %}homepage{% endblock %}

{% block billboard %}<h2>The Web framework for perfectionists (with deadlines). Django makes it easier to build better Web apps more quickly and with less code.</h2>{% endblock %}

{% block content %}
<h1>Meet Django</h1>
<h2 class="deck">Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.</h2>
<p>Developed by a fast-moving online-news operation, Django was designed to handle two challenges: the intensive deadlines of a newsroom and the stringent requirements of the experienced Web developers who wrote it. It lets you build high-performing, elegant Web applications quickly.</p>
<p>Django focuses on automating as much as possible and adhering to the <a href="http://c2.com/cgi/wiki?DontRepeatYourself"><abbr title="Don't Repeat Yourself">DRY</abbr> principle</a>.</p>
<p>Dive in by <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/intro/overview/">reading the overview &rarr;</a></p>
<p>When you're ready to code, read the <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/intro/install/">installation guide</a> and <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/intro/tutorial01/">tutorial</a>.</p>
<div id="content-secondary">
	<h2>The Django framework</h2>
	<h3>Object-relational mapper</h3>
	<p>Define your <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/topics/db/models/">data models</a> entirely in Python. You get a rich, <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/topics/db/queries/">dynamic database-access API</a> for free &mdash; but you can still write SQL if needed.</p>
	<h3>Automatic admin interface</h3>
	<p>Save yourself the tedious work of creating interfaces for people to add and update content. <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/intro/tutorial02/">Django does that automatically</a>, and it's production-ready.</p>
	<h3>Elegant URL design</h3>
	<p>Design pretty, <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/topics/http/urls/">cruft-free URLs</a> with no framework-specific limitations. Be as flexible as you like.</p>
	<h3>Template system</h3>
	<p>Use Django's powerful, extensible and designer-friendly <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/topics/templates/">template language</a> to separate design, content and Python code.</p>
	<h3>Cache system</h3>
	<p>Hook into memcached or other cache frameworks for <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/topics/cache/">super performance</a> &mdash; caching is as granular as you need.</p>
        <h3>Internationalization</h3>
        <p>Django has full support for <a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/topics/i18n/">multi-language applications</a>, letting you specify translation strings and providing hooks for language-specific functionality.</p>
</div>
<!-- END #content-secondary -->
{% endblock %}

{% block content-related %}

<h2>Download</h2>
<ul class="linklist">
    <li class="button-download"><a href="/download/">Latest release: <strong>{{ DJANGO_VERSION }}</strong></a></li>
</ul>
<p>Open source, <a href="https://github.com/django/django/blob/master/LICENSE">BSD license</a></p>
<h2>Documentation</h2>
<ul class="linklist">
	<li><a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/intro/install/">Installation guide</a></li>
	<li><a href="https://docs.djangoproject.com/en/{{ DOCS_VERSION }}/intro/tutorial01/">Tutorial</a></li>
	<li><a href="https://docs.djangoproject.com/">Full index...</a></li>
</ul>
<h2>Sites that use Django</h2>
<dl>
    <dt><a href="http://www.disqus.com/">Disqus</a></dt>
    <dd>Beautiful, real-time, engaging comments threads for your website.</dd>
    <dt><a href="http://instagram.com/">Instagram</a></dt>
    <dd>A fast, beautiful and fun photo-sharing app for iOS and Android.</dd>
    <dt><a href="http://www.mozilla.org/">Mozilla</a></dt>
    <dd>Makers of Firefox, and defenders of the openness, innovation, and opportunity on the web.</dd>
    <dt><a href="http://www.openstack.org/">OpenStack</a></dt>
    <dd>Open source software for building private and public clouds.</dd>
    <dt><a href="http://pinterest.com/">Pinterest</a></dt>
    <dd>Pinterest is a virtual pinboard to share beautiful things you find on the web.</dd>
    <dt><a href="http://www.politifact.com/">PolitiFact.com</a></dt>
    <dd>The Pulitzer Prize-winning fact-checking site.<dd>
    <dt><a href="http://www.rdio.com/">Rdio</a></dt>
    <dd>Your music library in the cloud.<dd>
</dl>
<p><a href="http://www.djangosites.org/">See more sites...</a></p>
{% endblock %}

{% block content-extra %}
<h2>Weblog</h2>
{% load weblog %}{% render_latest_blog_entries 4 %}
{% endblock %}
