{% extends 'base.html' %}{% load static pygmentify %}
{% block layout_class %}sidebar-right{% endblock %}
{% block title %}Getting started with Django{% endblock %}

{% block header %}
  <h1 class="visuallyhidden">Get started</h1>
  <div class="layout-2col">
    <div class="col two-third">
      <p>It’s <em>quick &amp; easy</em> to get up and running with <em>Django</em>.</p>
    </div>
    <div class="col one-third">
      <a href="{% url 'download' %}" class="cta">Download <em>version {{ DJANGO_VERSION }}</em></a>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="section">
    <h1>Getting started with Django</h1>

    <p>Depending how new you are to Django, you can also <a href="https://docs.djangoproject.com/en/stable/intro/tutorial01/">try a tutorial</a>, or just <a href="https://docs.djangoproject.com/">dive into the documentation</a>.</p>

    <p>
      Want to learn more about Django? Read the overview to see whether Django is right for your project.
    </p>
    <a class="link-readmore" href="{% url 'overview' %}">Django overview</a>
  </div>

  <div class="section">
    <h2>Install Django</h2>
    <p>Before you can use Django, you’ll need to install it. Our complete installation guide covers all the possibilities; this guide will get you to a simple, minimal installation that’ll work while you walk through the introduction.</p>
    <a class="link-readmore" href="https://docs.djangoproject.com/en/stable/intro/install/">Django installation guide</a>
  </div>

  <div class="section">
    <h2>Write your first Django app</h2>
    <p>Installed Django already? Good. Now <a href="https://docs.djangoproject.com/en/stable/intro/tutorial01/">try this tutorial</a>, which walks you through creating a basic poll application. It’s got two parts:</p>
    <ol>
      <li>A public site that lets people view polls and vote in them.</li>
      <li>An administrative interface that lets you add, change and delete polls.</li>
    </ol>
    <a class="link-readmore" href="https://docs.djangoproject.com/en/stable/intro/tutorial01/">Take the tutorial</a>
  </div>

  <div class="section">
    <h2>Sharpen your skills</h2>
    <p>The official <a href="https://docs.djangoproject.com/">Django documentation</a> covers everything you need to know about Django (and then some).</p>
     <a href="https://docs.djangoproject.com/" class="link-readmore">Read the docs</a>
  </div>

  <div class="section">
    <h2><span>Join the community</span></h2>
    <p>You can help <a href="{% url 'community-index' %}">make us better</a>. Find out about upcoming Django events, learn what’s on other Django developers’ minds, find and post jobs, and more.</p>
    <a href="{% url 'community-index' %}" class="link-readmore">Join us</a>
  </div>

  <div class="list-collapsing-header">
    <h2><span>Intro to Django</span></h2>
  </div>
  <ul class="list-collapsing">
  <li>
    <h2>Object-relational mapper</h2>
    <div class="collapsing-content">
      <p>Deﬁne your data models entirely in Python. You get a rich, dynamic database-access API for free — but you can still write SQL if needed.</p>
      <a class="link-readmore" href="https://docs.djangoproject.com/en/stable/topics/db/models/">Read more</a>
      {% pygment %}
        <pre lang="python">
class Band(models.Model):
    """ A model of a rock band."""
    name = models.CharField(max_length=200)
    can_rock = models.BoolanField(default=True)


class Member(models.Model):
    """ A model of a rock band member."""
    name = models.CharField("Member's name", max_length=200)
    instrument = models.CharField(choices=(
            ('g', "Guitar"),
            ('b', "Bass"),
            ('d', "Drums"),
        ),
        max_length=1
    )
    band = models.ForeignKey("Band")
        </pre>
      {% endpygment %}
    </div>
  </li>
  <li>
    <h2>URLs and views</h2>
    <div class="collapsing-content">
      <p>A clean, elegant URL scheme is an important detail in a high-quality Web application. Django encourages beautiful URL design and doesn’t put any cruft in URLs, like .php or .asp.</p>
      <p>To design URLs for an application, you create a Python module called a URLconf. Like a table of contents for your app, it contains a simple mapping between URL patterns and your views.</p>
      <a class="link-readmore" href="https://docs.djangoproject.com/en/stable/topics/http/urls/">Read more</a>
      {% pygment %}
        <pre lang="python">
urlpatterns = patterns('',
    (r'^bands/$', 'bands.views.band_listing'),
    (r'^bands/(\d+)/$', 'bands.views.band_detail'),
    (r'^bands/search/$', 'bands.views.band_search'),
)
      </pre>
      <pre lang="python">
from django.shortctus import render

def band_listing(request):
    """ A view of all bands."""
    bands = models.Band.objects.all()
    return render(request, 'bands/band_listing.html', {'bands': bands})
        </pre>
      {% endpygment %}
    </div>
  </li>
  <li>
    <h2>Templates</h2>
    <div class="collapsing-content">
      <p>Django’s template language is designed to strike a balance between power and ease. It’s designed to feel comfortable and easy-to-learn to those used to working with HTML, like designers and front-end developers. But it is also flexible and highly extensible, allowing developers to augment the template language as needed.</p>
      <a class="link-readmore" href="https://docs.djangoproject.com/en/stable/topics/templates/">Read more</a>
      {# No need to escape the HTML: pygment takes care of that #}
      {% pygment %}
        <pre lang="html">{% verbatim %}
<html>
  <head>
    <title>Band Listing</title>
  </head>
  <body>
    <h1>All Bands</h1>
    <ul>
    {% for band in bands %}
      <li>
        <h2><a href="{{ band.get_absolute_url }}">{{ band.name }}</a></h2>
        {% if band.can_rock %}<p>This band can rock!</p>{% endif %}
      </li>
    {% endfor %}
    </ul>
  </body>
</html>
        {% endverbatim %}</pre>
      {% endpygment %}
    </div>
  </li>
  <li>
    <h2>Forms</h2>
    <div class="collapsing-content">
      <p>Django provides a powerful form library that handles rendering forms as HTML, validating user-submitted data, and converting that data to native Python types. Django also provides a way to generate forms from your existing models and use those forms to create and update data.</p>
      <a class="link-readmore" href="https://docs.djangoproject.com/en/stable/topics/forms/">Read more</a>
      {% pygment %}
        <pre lang="python">
from django import forms

class BandContactForm(forms.Form):
    subject = forms.CharField(max_length=100)
    message = forms.CharField()
    sender = forms.EmailField()
    cc_myself = forms.BooleanField(required=False)
        </pre>
      {% endpygment %}
    </div>
  </li>
  <li>
    <h2>Authentication</h2>
    <div class="collapsing-content">
      <p>Django comes with a full-featured and secure authentication system. It handles user accounts, groups, permissions and cookie-based user sessions. This lets you easily build sites that let users to create accounts and safely log in/out.</p>
      <a class="link-readmore" href="https://docs.djangoproject.com/en/stable/topics/auth/">Read more</a>
      {% pygment %}
        <pre lang="python">
from django.contrib.auth.decorators import login_required
from django.shortcuts import render

@login_required
def my_protected_view(request):
    """ A view that can only be accessed by logged-in users """
    return render(request, 'protected.html', {'current_user': request.user})
        </pre>
      {% endpygment %}
    </div>
  </li>
  <li>
    <h2>Admin</h2>
    <div class="collapsing-content">
      <p>One of the most powerful parts of Django is its automatic admin interface. It reads metadata in your models to provide a powerful and production-ready interface that content producers can immediately use to start managing content on your site. It’s easy to set up and provides many hooks for customization.</p>
      <a class="link-readmore" href="https://docs.djangoproject.com/en/stable/ref/contrib/admin/">Read more</a>
      {% pygment %}
        <pre lang="python">
from django.contrib import admin
from bands.models import Band, Member

class MemberAdmin(admin.ModelAdmin):
    """ Customize the look of the auto-generated admin for the Member model """
    list_display = ('name', 'instrument')
    list_filter = ('band',)

admin.site.register(Band)  # Use the default options
admin.site.register(Member, MemberAdmin)  # Use the customized options
        </pre>
      {% endpygment %}
    </div>
  </li>
  <li>
    <h2>Internationalization</h2>
    <div class="collapsing-content">
      <p>Django offers full support for translating text into different languages, plus locale-specific formatting of dates, times, numbers and time zones. It lets developers and template authors specify which parts of their apps should be translated or formatted for local languages and cultures, and it uses these hooks to localize Web applications for particular users according to their preferences.</p>
      <a class="link-readmore" href="https://docs.djangoproject.com/en/stable/topics/i18n/">Read more</a>

      {% pygment %}
        <pre lang="python">
from django.shortcuts import render
from django.utils.translation import ugettext

def homepage(request):
    """Shows the homepage with a welcome message that is translated in the
    user's language."""
    message = ugettext('Welcome to our site!')
    return render(request, 'homepage.html', {'message': message})
        </pre>
      {% endpygment %}

      {# No need to escape the HTML: pygment takes care of that #}
      {% pygment %}
        <pre lang="html">{% verbatim %}
{% load i18n %}
<html>
  <head>
    <title>{% trans 'Band Listing' %}</title>
  </head>
  <body>
    <h1>{% trans 'All Bands' %}</h1>
    <ul>
    {% for band in bands %}
      <li>
        <h2><a href="{{ band.get_absolute_url }}">{{ band.name }}</a></h2>
        {% if band.can_rock %}<p>{% trans 'This band can rock!' %}</p>{% endif %}
      </li>
    {% endfor %}
    </ul>
  </body>
</html>
        {% endverbatim %}</pre>
      {% endpygment %}
    </div>
  </li>
  <li>
    <h2>Security</h2>
    <div class="collapsing-content">
      <p>Django provides multiple protections against:</p>
      <ul>
        <li>Clickjacking</li>
        <li>Cross-site scripting</li>
        <li>Cross Site Request Forgery (CSRF)</li>
        <li>SQL injection</li>
        <li>Remote code execution</li>
      </ul>

      <a class="link-readmore" href="https://docs.djangoproject.com/en/stable/topics/security/">Read more</a>

    </div>
  </li>
</ul>

{% endblock %}


{% block content-extra %}
    <div role="complementary">
      <h2>Other Django resources</h2>
      <dl class="list-image">
        <li>
          <a href="http://gettingstartedwithdjango.com/">
            <img src="{% static 'img/demos/start.png' %}" alt="Getting Started with Django" />
          </a>
          <h3>Getting Started With Django</h3>
          <p><span class="visuallyhidden">Getting Started With Django is</span> a series of video-based lessons meant to take you from novice to competent, or maybe even beyond. Each lesson covers many facets and best practices of modern Django Web development and features a video and a text transcript to follow along. Every video is available for download or online streaming and there’s a forum for help if you get stuck.</p>
          <p>
            <a href="http://gettingstartedwithdjango.com/" class="link-readmore">Get started</a>
          </p>
        </li>
        <li>
          <a href="https://django.2scoops.org/">
            <img src="{% static 'img/demos/tsd.png' %}" alt="Two Scoops of Django" />
          </a>
          <h3>Two Scoops of Django</h3>
          <p><span class="visuallyhidden">Two Scoops of Django is</span> an ebook designed for both novices and more advanced users, covering best practices for using Django 1.5.</p>
          <p>
            <a href="https://django.2scoops.org/" class="link-readmore">Get the book</a>
          </p>
        </li>
      </ul>
    </div>
{% endblock %}
