{% load humanize i18n %}
<div class="heroes">
  {% if corporate_members.diamond %}
    <h3>{% blocktranslate trimmed with amount=corporate_membership_amounts.diamond|intcomma %}
      Diamond Corporate Members (${{ amount }}+){% endblocktranslate %}</h3>
    <div>
      {% for obj in corporate_members.diamond %}
        {% include "fundraising/includes/_hero_with_logo.html" %}
      {% endfor %}
    </div>
  {% endif %}

  {% if corporate_members.platinum %}
    <h3>{% blocktranslate trimmed with amount=corporate_membership_amounts.platinum|intcomma %}
      Platinum Corporate Members (${{ amount }}+){% endblocktranslate %}</h3>
    <div>
      {% for obj in corporate_members.platinum %}
        {% include "fundraising/includes/_hero_with_logo.html" %}
      {% endfor %}
    </div>
  {% endif %}

  {% if corporate_members.gold %}
    <h3>{% blocktranslate trimmed with amount=corporate_membership_amounts.gold|intcomma %}
      Gold Corporate Members (${{ amount }}+){% endblocktranslate %}</h3>
    <div>
      {% for obj in corporate_members.gold %}
        {% include "fundraising/includes/_hero_with_logo.html" %}
      {% endfor %}
    </div>
  {% endif %}

  {% if corporate_members.silver %}
    <h3>{% blocktranslate trimmed with amount=corporate_membership_amounts.silver|intcomma %}
      Silver Corporate Members (${{ amount }}+){% endblocktranslate %}</h3>
    <div>
      {% for obj in corporate_members.silver %}
        {% include "fundraising/includes/_hero_with_logo.html" %}
      {% endfor %}
    </div>
  {% endif %}

  {% if corporate_members.bronze %}
    <h3>{% blocktranslate trimmed with amount=corporate_membership_amounts.bronze|intcomma %}
      Bronze Corporate Members (${{ amount }}+){% endblocktranslate %}</h3>
    <div>
      {% for obj in corporate_members.bronze %}
        {% include "fundraising/includes/_hero_with_logo.html" %}
      {% endfor %}
    </div>
  {% endif %}

  <h3><a id="in-kind-donors" href="#in-kind-donors">{% translate "In-kind donors" %}</a></h3>
  <p>{% translate "These donors help with significant non-cash contributions." %}</p>
  <div>
    {% with show_description=True %}
      {% for obj in inkind_donors %}
        {% include "fundraising/includes/_hero_with_logo.html" %}
      {% endfor %}
    {% endwith %}
  </div>

  <h3>{% blocktranslate trimmed with amount=display_logo_amount|intcomma %}
    Leaders (${{ amount }}+){% endblocktranslate %}</h3>
  <p>
    {% blocktranslate trimmed with amount=display_logo_amount|intcomma %}
      Leadership-level donors contribute ${{ amount }} or
      more in a calendar year.
    {% endblocktranslate %}
  </p>
  <div>
    {% for obj in leaders %}
      {% include "fundraising/includes/_hero_with_logo.html" %}
    {% endfor %}
  </div>

  <h3>{% translate "Heroes" %}</h3>
  <p>
    {% blocktranslate trimmed %}
      Our donor roll for all donations made in the last {{ display_donor_days }} days.
    {% endblocktranslate %}
  </p>
  <div>
    {% for donor in heroes %}
      <div class="no-logo-hero">
        {% if donor.url %}<a href="{{ donor.url }}" rel="nofollow">{% endif %}{% spaceless %}
          <span>{{ donor.name_with_fallback }}</span>
        {% endspaceless %}{% if donor.url %}</a>{% endif %}
      </div>
    {% endfor %}
  </div>
</div>
