{% load static humanize thumbnail %}
<div class="heros">
  <h3>Silver Corporate Members ($2,000+)</h3>
  <p>Our silver <a href="/foundation/corporate-membership/">corporate
    members</a> include independent consultancies, sole proprietorships, and
    other small businesses.</p>
  <div>
  {% for donor in silver_members %}
  <div class="hero">
      <div class="hero-logo">
        {% if donor.url %}<a href="{{ donor.url }}" rel="nofollow">{% endif %}
        <img src="{% static 'img/fundraising-heart.png' %}"
          data-src="{% if donor.logo %}{{ donor.thumbnail.url }}{% else %}{% static 'img/fundraising-heart.png' %}{% endif %}"
          data-src-retina="{% if donor.logo %}{{ donor.thumbnail.url|resolution:'2x' }}{% else %}{% static 'img/fundraising-heart.png' %}{% endif %}"
          alt="{{ donor.display_name }}" />
        {% if donor.url %}</a>{% endif %}
      </div>
      <div class="hero-name">
        {% if donor.url %}<a href="{{ donor.url }}" rel="nofollow">{% endif %}{% spaceless %}
        {{ donor.display_name }}
        {% endspaceless %}{% if donor.url %}</a>{% endif %}
      </div>
    </div>
  {% endfor %}
  </div>
  <h3>Leaders ($1,000+)</h3>
  <p>Leadership-level donors contribute $1,000 or more in a calendar year.</p>
  <div>
  {% for donor in leaders %}
    <div class="hero">
      <div class="hero-logo">
        {% if donor.url %}<a href="{{ donor.url }}" rel="nofollow">{% endif %}
        <img src="{% static 'img/fundraising-heart.png' %}"
          data-src="{% if donor.logo %}{{ donor.thumbnail.url }}{% else %}{% static 'img/fundraising-heart.png' %}{% endif %}"
          data-src-retina="{% if donor.logo %}{{ donor.thumbnail.url|resolution:'2x' }}{% else %}{% static 'img/fundraising-heart.png' %}{% endif %}"
          alt="{{ donor.name }}" />
        {% if donor.url %}</a>{% endif %}
      </div>
      <div class="hero-name">
        {% if donor.url %}<a href="{{ donor.url }}" rel="nofollow">{% endif %}{% spaceless %}
        {{ donor.name_with_fallback }}
        {% endspaceless %}{% if donor.url %}</a>{% endif %}
      </div>
    </div>
  {% endfor %}
  </div>

  <h3>Heros</h3>
  <p>Our donor roll for all donations made in the last {{ display_donor_days }} days.</p>
  <div>
  {% for donor in heros %}
    <div class="no-logo-hero">
      {% if donor.url %}<a href="{{ donor.url }}" rel="nofollow">{% endif %}{% spaceless %}
        <span>{{ donor.name_with_fallback }}</span>
      {% endspaceless %}{% if donor.url %}</a>{% endif %}
    </div>
  {% endfor %}
  </div>
</div>
