{% load static humanize thumbnail %}

{% if donor.donated_amount >= 200 %}
  <div class="hero">
    <div class="hero-logo">
      {% if donor.url %}<a href="{{ donor.url }}" rel="nofollow">{% endif %}
      <img src="{% static 'img/fundraising-heart.png' %}"
        data-src="{% if donor.logo %}{{ donor.thumbnail.url }}{% else %}{% static 'img/fundraising-heart.png' %}{% endif %}"
        data-src-retina="{% if donor.logo %}{{ donor.thumbnail.url|resolution:'2x' }}{% else %}{% static 'img/fundraising-heart.png' %}{% endif %}"
        alt="{{ donor.name }}" />
      {% if donor.url %}</a>{% endif %}
    </div>
    <div class="hero-name">
      {% if donor.url %}<a href="{{ donor.url }}" rel="nofollow">{% endif %}{% spaceless %}
      {{ donor.name_with_fallback }}
      {% endspaceless %}{% if donor.url %}</a>{% endif %}
    </div>
  </div>
{% else %}
  <div class="no-logo-hero">
    {% if donor.url %}<a href="{{ donor.url }}" rel="nofollow">{% endif %}{% spaceless %}
      <span>{{ donor.name_with_fallback }}</span>
    {% endspaceless %}{% if donor.url %}</a>{% endif %}
  </div>
{% endif %}
