{% load humanize static %}

{% if donation %}
  <div class="fundraising-sidebar">
    <h2>Support Django!</h2>

    <div class="small-heart">
      <img src="{% static "img/fundraising-heart.svg" %}" alt="Support Django!" />
    </div>

    <div class="small-cta">
      <ul class="list-links-small">
        <li><a href="{% url "fundraising:index" %}">
          {{ donation.name }} donated to the Django Software Foundation to
          support Django development. Donate today!
        </a></li>
      </ul>
    </div>
  </div>
{% endif %}
