{% if members %}
  <div class="corporate-members">
    <h3>Diamond and Platinum Members</h3>
    {% for obj in members %}
      <div class="clearfix">
        <div class="member-logo">
          <a href="{{ obj.url }}" title="{{ obj.display_name }}">
            <img src="{{ obj.thumbnail.url }}" alt="{{ obj.display_name }}" />
          </a>
        </div>
        <div class="small-cta">
          <ul class="list-links-small">
            <li><strong>{{ obj.display_name }}</strong></li>
            <li><a href="{{ obj.url }}" title="{{ obj.display_name }}">
              {{ obj.description }}
            </a></li>
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
