{% if members %}
  <div class="corporate-members">
    <h3>{{ header }}</h3>
    {% for obj in members %}
      <div class="clearfix">
        <div class="member-logo">
          <a href="{{ obj.url }}" title="{{ obj.display_name }}">
            {% if obj.logo %}
              <img
                {% if obj.thumbnail %}
                  src="{{ obj.thumbnail.url }}"
                {% else %}
                  src="{{ obj.logo.url }}"
                {% endif %}
                alt="{{ obj.display_name }}" />
            {% endif %}
          </a>
        </div>
        <div class="small-cta">
          <ul class="list-links-small">
            <li><strong>{{ obj.display_name }}</strong></li>
            <li><a href="{{ obj.url }}" title="{{ obj.display_name }}">
              {{ obj.description }}
            </a></li>
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
