<div class="layout-2col">
  <div class="col">
    <h3>
      <a href="https://forum.djangoproject.com/c/announcements">Announcements</a>
    </h3>
    <p class="meta">
      Announcements and invited feedback about the forum.
    </p>
  </div>
  <div class="col last-child">
    <h3>
      <a href="https://forum.djangoproject.com/c/internals">Django Internals</a>
    </h3>
    <p class="meta">
      For discussing the development of Django itself, like the
      <a href="https://groups.google.com/d/forum/django-developers">django-developers</a>
      mailing list.
    </p>
  </div>
</div>
<div class="layout-2col">
  <div class="col">
    <h3>
      <a href="https://forum.djangoproject.com/c/users">Using Django</a>
    </h3>
    <p class="meta">
      For discussions about using Django, building sites and projects, like the
      <a href="https://groups.google.com/d/forum/django-users">django-users</a>
      mailing list.
    </p>
  </div>
  <div class="col last-child">
    <h3>
      <a href="https://forum.djangoproject.com/c/projects">Show &amp; Tell</a>
    </h3>
    <p class="meta">
      Show off your projects, ask for feedback, and discover new things written in
      Django!
    </p>
  </div>
</div>
<div class="layout-2col">
  <div class="col">
    <h3>
      <a href="https://forum.djangoproject.com/c/events">Events</a>
    </h3>
    <p class="meta">
      Discuss Django conferences, sprints, meetups and other events!
    </p>
  </div>
</div>
