{% load i18n %}
{% load docs %}
{% if 'preview.djangoproject.com' in request.get_host %}
  <div class="copy-banner" style="background: #fff78e; padding: 10px;"></div>
{% endif %}
<header id="top">
  <div class="container container--flex--wrap--mobile">
    <a class="logo" href="{% url 'homepage' %}">Django</a>
    <p class="meta">{% trans "The web framework for perfectionists with deadlines." %}</p>
    <button class="menu-button">
      <i class="icon icon-reorder"></i>
      <span class="visuallyhidden">{% trans "Menu" %}</span>
    </button>
    <nav aria-labelledby="navigation-header">
      <span id="navigation-header" class="visuallyhidden">{% trans "Main navigation" %}</span>
      <ul>
        <li{% if 'start' in request.path %} class="active"{% endif %}>
          <a href="{% url 'overview' %}">{% trans "Overview" %}</a>
        </li>
        <li{% if 'download' in request.path %} class="active"{% endif %}>
          <a href="{% url 'download' %}">{% trans "Download" %}</a>
        </li>
        <li{% if request.host.name == 'docs' and 'search' not in request.path %} class="active"{% endif %}>
          <a href="{% block doc_url %}{% url 'homepage' host 'docs' %}{% endblock %}">{% trans "Documentation" %}</a>
        </li>
        <li{% if 'weblog' in request.path %} class="active"{% endif %}>
          <a href="{% url 'weblog:index' %}">{% trans "News" %}</a>
        </li>
        <li>
          <a href="https://github.com/django/django" target="_blank" rel="noopener">{% trans "Code" %}</a>
        </li>
        <li>
          <a href="https://code.djangoproject.com/">{% trans "Issues" %}</a>
        </li>
        <li{% if 'community' in request.path or 'conduct' in request.path %} class="active"{% endif %}>
          <a href="{% url 'community-index' %}">{% trans "Community" %}</a>
        </li>
        <li{% if 'foundation' in request.path %} class="active"{% endif %}>
          <a href="{% url 'homepage' %}foundation/">{% trans "Foundation" %}</a>
        </li>
        <li{% if 'fundraising' in request.path %} class="active"{% endif %}>
          <a href="{% url 'fundraising:index' %}">{% trans "♥ Donate" %}</a>
        </li>
      </ul>
    </nav>
    <div class="header-tools">
      {% search_form %}
      {% include "includes/toggle_theme.html" %}
    </div>
  </div>
</header>
