<div class="layout-2col">
  <div class="col form-email">
    <h3><a href="https://groups.google.com/group/django-users">Using Django</a></h3>
    <p class="meta">Get help with Django and follow announcements.</p>
    <form class="form-input" action="https://groups.google.com/group/django-users/boxsubscribe">
      <input type="email" name="email" placeholder="Enter email">
      <button type="submit">
        <i class="icon icon-envelope-o"></i>
        <span class="visuallyhidden">Subscribe</span>
      </button>
    </form>
    <p class="meta">
      You can also subscribe by sending an email to
      <a href="mailto:django-users+subscribe@googlegroups.com">
      django-users+subscribe@googlegroups.com</a> and following the
      instructions that will be sent to you.
    </p>
  </div>
  <div class="col form-email last-child">
    <h3><a href="https://groups.google.com/group/django-developers">Contributing to Django</a></h3>
    <p class="meta">Contribute to the development of Django itself.</p>
    <form class="form-input" action="https://groups.google.com/group/django-developers/boxsubscribe">
      <input type="email" name="email" placeholder="Enter email">
      <button type="submit">
        <i class="icon icon-envelope-o"></i>
        <span class="visuallyhidden">Subscribe</span>
      </button>
    </form>
    <p class="meta">
      Before asking a question about how to contribute, read
      <a href="https://docs.djangoproject.com/en/dev/internals/contributing/">
      Contributing to Django</a>. Many frequently asked questions are answered there.
    </p>
    <hr>
    <p class="meta">
      You can also subscribe by sending an email to
      <a href="mailto:django-developers+subscribe@googlegroups.com">
      django-developers+subscribe@googlegroups.com</a> and following the
      instructions that will be sent to you.
    </p>
  </div>

</div>
<p>
    We have a few other specialized lists (mentorship, i18n, ...). You can
    find more information about them in our
    <a href="{% url 'document-detail' url='internals/mailing-lists' lang='en' version='dev' host 'docs' %}">
    mailing list documentation</a>.
  </p>
