{% extends "base_download.html" %}

{% block content %}
<h1>{{ flatpage.title }}</h1>

{{ flatpage.content }}
{% endblock %}

{% block content-related %}
<h2>For the impatient:</h2>
<ul>
  <li>Latest release: <a href="https://www.djangoproject.com/download/1.5/tarball/">Django-1.5.tar.gz</a><br>Checksum: <a href="https://www.djangoproject.com/download/1.5/checksum/">Django-1.5.checksum.txt</a></li>
</ul>

<h2>Which version is better?</h2>
<p>We improve Django almost every day and are pretty good about keeping the code stable. Thus, using the latest development code is a safe and easy way to get access to new features as they're added. If you choose to follow the development version, keep in mind that there will occasionally be backwards-incompatible changes. You'll want to pay close attention to the commits by watching <a href="https://github.com/django/django">Django on GitHub</a> or subscribing to <a href="http://groups.google.com/group/django-updates">django-updates</a>.</p>

<p>If you're just looking for a stable deployment target and don't mind waiting for the next release, you'll want to stick with the latest official release (which will always include detailed notes on any changes you'll need to make while upgrading).</p>
<h2>Previous releases</h2>
<ul>
  <li>Django 1.4.5: <a href="https://www.djangoproject.com/download/1.4.5/tarball/">Django-1.4.5.tar.gz</a><br>Checksum: <a href="https://www.djangoproject.com/download/1.4.5/checksum/">Django-1.4.5.checksum.txt</a></li>
</ul>

<h2>Unsupported previous releases (no longer receive security updates or bugfixes)</h2>
<ul>
  <li>Django 1.3: <a href="https://www.djangoproject.com/download/1.3.7/tarball/">Django-1.3.7.tar.gz</a><br>Checksum: <a href="https://www.djangoproject.com/download/1.3.7/checksum/">Django-1.3.7.checksum.txt</a></li>
  <li>Django 1.2: <a href="https://www.djangoproject.com/download/1.2.7/tarball/">Django-1.2.7.tar.gz</a><br>Checksum: <a href="https://www.djangoproject.com/download/1.2.7/checksum/">Django-1.2.7.checksum.txt</a></li>
  <li>Django 1.1: <a href="https://www.djangoproject.com/download/1.1.4/tarball/">Django-1.1.4.tar.gz</a><br>Checksum: <a href="https://www.djangoproject.com/download/1.1.4/checksum/">Django-1.1.4.checksum.txt</a></li>
  <li>Django 1.0: <a href="https://www.djangoproject.com/download/1.0.4/tarball/">Django-1.0.4.tar.gz</a><br>Checksum: <a href="https://www.djangoproject.com/download/1.0.4/checksum/">Django-1.0.4.checksum.txt</a></li>
</ul>
{% endblock %}
