{% extends "base_community.html" %}

{% block title %}{{ user }} | djangoproject.com{% endblock %}
{% block extrahead %}
  <style type="text/css">
    #avatar { float: left; margin-top: 16px; }
    #user-info { padding-left: 150px; }
    #user-info ul { padding-left: 48px; }
  </style>
{% endblock extrahead %}
{% block content-related %}{% endblock %}

{% block content %}
  <img id='avatar' width='150' height='150'
       src="http://robohash.org/{{ email_hash }}?gravatar=hashed&amp;set=set3">
  <div id="user-info">
    <h1>{% firstof user.get_full_name user.username %}</h1>
    <p>
      Member since {{ user.date_joined.date }}.
    </p>
    {% if user_can_commit %}<p>Committer!</p>{% endif %}
    {% if clas %}
      {% for cla in clas %}
        {% if cla.ccla %}
          {# it's a corporate cla #}
          <p>
            Contributions covered by CLA on file for {{ cla.ccla.company_name }}
            (signed {{ cla.ccla.date_signed }}).
          </p>
        {% else %}
          <p>
            CLA on file (signed {{ cla.date_signed }}).
          </p>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% with user.owned_feeds.all as feeds %}
      {% if feeds %}
        <h2>Community feeds:</h2>
        <ul>
          <li>
            {% for f in feeds %}
              <li><a href="{{ f.public_url }}">{{ f.title }}</a></li>   
            {% endfor %}
          </li>
        </ul>
      {% endif %}
    {% endwith %}
  </div>
{% endblock content %}
