{% extends "registration/base.html" %}
{% load humanize i18n %}

{% block title %}{% translate "Account activation failed" %}{% endblock %}

{% block content %}
  <h1>{% translate "Account activation failed." %}</h1>
  <p>
    {% blocktranslate trimmed with days=expiration_days|apnumber %}
      Sorry, it didn't work. Either your activation link was incorrect, or
      the activation key for your account has expired; activation keys are
      only valid for {{ days }} days after registration.
    {% endblocktranslate %}</p>
{% endblock %}
