# You must install the following packages:

django-registration
akismet
feedparser
django
docutils

# If you get the error "setuptools.dist has no attribue
# 'check_packages'", update setuptools.

# You also need django-contact-form which can be found at:
-e hg+http://bitbucket.org/ubernostrum/django-contact-form#egg=contact_form

# pysvn must be installed outside of easy_install as it requires
# compilation
#
# apt-get install python-svn
