django-registration
akismet
feedparser
django
docutils

# setuptools.dist has no attribue 'check_packages' ? -- update setuptools.
-e hg+http://bitbucket.org/ubernostrum/django-contact-form#egg=contact_form

# apt-get install python-svn
