{% extends "base_docs" %}

{% block content %}
<h1>{{ flatfile.title }}</h1>

{{ flatfile.content }}
{% endblock %}

{% block content-related %}

<h2>Getting help</h2>
<ul class="toc">
    <li><a href="irc://irc.freenode.net/django">#django IRC channel</a></li>
    <li><a href="http://simon.bofh.ms/logger/django/">#django IRC logs</a></li>
    <li><a href="http://groups-beta.google.com/group/django-users">Django-users mailing list</a></li>
    <li><a href="http://groups-beta.google.com/group/django-developers">Django-developers mailing list</a></li>
    <li><a href="http://code.djangoproject.com/newticket">Report a bug</a></li>
    <li><a href="/comments/">Recent comments posted to djangoproject.com</a></li>
</ul>

{% endblock %}
