{% extends "base_download.html" %}

{% block content %}
<h1>{{ flatpage.title }}</h1>

{{ flatpage.content }}
{% endblock %}

{% block content-related %}
<h2>For the impatient:</h2>
<ul>
  <li>Download the latest release: <a href="http://www.djangoproject.com/download/0.91/tarball/">Django-0.91.tar.gz</a>.</li>
  <li>Download the latest release as an egg: <a href="http://www.djangoproject.com/download/0.91/egg/">Django-0.91-py2.4.egg</a>.</li>
</ul>

<h2>Which version is better?</h2>
<p>We (<a href="http://code.djangoproject.com/wiki/WorldOnline">World Online</a>, Django developers) improve Django every day and are pretty good about not checking in broken code. With that in mind, we <strong>recommend that you use the latest development code</strong>, because it generally contains more features and fewer bugs than the "official" releases.</p>

<h2>Previous releases</h2>
<ul>
  <li>Django 0.90: <a href="http://www.djangoproject.com/download/0.90/tarball/">tarball</a> | <a href="http://www.djangoproject.com/download/0.90/egg/">egg</a>
</ul>
{% endblock %}
