{% extends "base_3col.html" %}

{% block cssid %}homepage{% endblock %}

{% block sectionid %}homepage{% endblock %}

{% block billboard %}<h2>The Web framework for perfectionists (with deadlines). Django makes it easier to build better Web apps more quickly and with less code.</h2>{% endblock %}

{% block content %}
<h1>Meet Django</h1>
<h2 class="deck">Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.</h2>
<p>Developed and used over two years by a fast-moving online-news operation, Django was designed to handle two challenges: the intensive deadlines of a newsroom and the stringent requirements of the <a href="/documentation/faq/#who-s-behind-this">experienced Web developers who wrote it</a>. It lets you build high-performing, elegant Web applications quickly.</p>
<p>Django focuses on automating as much as possible and adhering to the <a href="http://c2.com/cgi/wiki?DontRepeatYourself"><abbr title="Don't Repeat Yourself">DRY</abbr> principle</a>.</p>
<p>Dive in by <a href="/documentation/overview/">reading the overview &rarr;</a></p>
<p>When you're ready to code, read the <a href="/documentation/install/">installation guide</a> and <a href="/documentation/tutorial1/">tutorial</a>.</p>
<div id="content-secondary">
	<h2>The Django framework</h2>
	<h3>Object-relational mapper</h3>
	<p>Define your <a href="http://www.djangoproject.com/documentation/model_api/">data models</a> entirely in Python. You get a rich, <a href="/documentation/db_api/">dynamic database-access API</a> for free &mdash; but you can still write SQL if needed.</p>
	<h3>Automatic admin interface</h3>
	<p>Save yourself the tedious work of creating interfaces for people to add and update content. <a href="http://www.djangoproject.com/documentation/tutorial2/">Django does that automatically</a>, and it's production-ready.</p>
	<h3>Elegant URL design</h3>
	<p>Design pretty, <a href="http://www.djangoproject.com/documentation/url_dispatch/">cruft-free URLs</a> with no framework-specific limitations. Be as flexible as you like.</p>
	<h3>Template system</h3>
	<p>Use Django's powerful, extensible and designer-friendly <a href="http://www.djangoproject.com/documentation/templates/">template language</a> to separate design, content and Python code.</p>
	<h3>Cache system</h3>
	<p>Hook into memcached or other cache frameworks for <a href="http://www.djangoproject.com/documentation/cache/">super performance</a> &mdash; caching is as granular as you need.</p>
        <h3>Internationalization</h3>
        <p>Django has full support for <a href="http://www.djangoproject.com/documentation/i18n/">multi-language applications</a>, letting you specify translation strings and providing hooks for language-specific functionality.</p>
</div>
<!-- END #content-secondary -->
{% endblock %}

{% block content-related %}

<h2>Download</h2>
<ul class="linklist">
    <li class="button-download"><a href="/download/">Latest release: <strong>0.95.1</strong></a></li>
</ul>
<p>Open source, <a href="http://code.djangoproject.com/browser/django/trunk/LICENSE">BSD license</a></p>
<h2>Documentation</h2>
<ul class="linklist">
	<li><a href="/documentation/install/">Installation guide</a></li>
	<li><a href="/documentation/tutorial1/">Tutorial</a></li>
	<li><a href="/documentation/model_api/">Models</a></li>
	<li><a href="/documentation/templates/">Templates</a></li>
    <li>New: <a href="http://www.djangobook.com/">The Django Book</a></li>
	<li><a href="/documentation/">More...</a></li>
</ul>
<h2>Sites that use Django</h2>
<dl>
    <dt><a href="http://www.lawrence.com/">lawrence.com</a></dt>
    <dd>An internationally renowned local-entertainment site with events, stories, bands, drink specials and more.</dd>
    <dt><a href="http://code.djangoproject.com/wiki/DjangoPoweredSites#Sites/featuresatTheWashingtonPost">washingtonpost.com</a></dt>
    <dd>The Washington Post's growing selection of innovative Web database applications.</dd>
	<dt><a href="http://www.chicagocrime.org/">chicagocrime.org</a></dt>
	<dd>A freely browsable database of crimes reported in Chicago.</dd>
	<dt><a href="http://www.ljworld.com/">LJWorld.com</a></dt>
	<dd>An industry-leading newspaper site.</dd>
    <dt><a href="http://www.tabblo.com/">Tabblo</a></dt>
    <dd>An innovative photo-sharing site, with a narrative twist.</dd>
	<dt><a href="http://www.torontolife.com/">Toronto Life</a></dt>
	<dd>Toronto's city magazine.</dd>
	<dt><a href="http://www.lawrencechamber.com/">lawrencechamber.com</a></dt>
	<dd>A Chamber of Commerce site that doesn't suck.</dd>
</dl>
<p><a href="http://code.djangoproject.com/wiki/DjangoPoweredSites">See more sites...</a></p>
{% endblock %}

{% block content-extra %}
<h2>Weblog</h2>

{% load comments %}
{% load latestblogentry %}
{% get_latest_blog_entries 4 as latest_entries %}

{% for latest_entry in latest_entries %}
    {% get_free_comment_count for blog.entry latest_entry.id as comment_count %}
    <h3><a href="{{ latest_entry.get_absolute_url }}">{{ latest_entry.headline }}</a></h3>
    <p class="date">by <strong>{{ latest_entry.author }}</strong> on {{ latest_entry.pub_date|date:"M. j, Y" }}</p>
    {{ latest_entry.summary }}
    <p class="more"><a href="{{ latest_entry.get_absolute_url }}">Read more</a>{% if comment_count %} / <a href="{{ latest_entry.get_absolute_url }}#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a>{% endif %}</p>
{% endfor %}

{% comment %}
<blockquote class="fancyquote">
<p>Django's cool. I should know because I’m British.</p>
<cite><strong>Simon Willison</strong><br />Mad Genius</cite>
</blockquote>
{% endcomment %}

{% endblock %}
