name: Docker test build

on:
    pull_request:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions:
    contents: read

jobs:
    build-image:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                dependency_groups:
                    - prod
                    - tests

        # steps taken (and trimmed) from docker-publish.yml
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - if: matrix.dependency_groups != 'tests'
              name: Test docker image build (${{ matrix.dependency_groups }})
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: false
                  build-args: |
                      DEPENDENCY_GROUPS=${{ matrix.dependency_groups }}

            - if: matrix.dependency_groups == 'tests'
              name: Set up Docker Compose
              uses: docker/setup-compose-action@v1

            - if: matrix.dependency_groups == 'tests'
              name: Run the tests via Docker
              run: |
                  docker compose build
                  docker compose run --rm web make ci
