name: prek checks

on:
    pull_request:
    push:
        branches: [main]

jobs:
    prek:
        runs-on: ubuntu-24.04
        steps:
            - uses: actions/checkout@v6.0.1
            - uses: j178/prek-action@v1.0.11
